<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <p>{{data.message}}</p>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="warn" [mat-dialog-close]="data.result">Yes</button> &nbsp;
    <button mat-raised-button (click)="onNoClick()" cdkFocusInitial>No</button>
</div>