#edit-user .mat-card-header {
  background-color: #673ab7;
  border-radius: 5px;
  color: white;
}

.edit-user-header {
  margin: 20px 0;
  font-weight: bold;
}

::ng-deep .mat-card-header-text {
  width: 100%;
}

#edit-user mat-card-content {
  border: 1px solid #dee3e2;
  border-top: none;
  width: 100%;
  padding: 1%;
}

#edit-user mat-card {
  padding-top: 2px !important;
}

.registration-container {
  width: 50%;
  padding: 2% 3%;
  border: 1px solid #dee3e2;
}

#edit-user mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.form-inline {
  padding: 0 2%;
}

.file-uploader {
  padding: 0 3%;
}

#edit-user .mat-card-actions {
  padding: 0 26% !important;
}

#edit-user .mat-card-actions button {
  padding: 0 5%;
}
