<section id="edit-user">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center title edit-user-header">
                    Profile
                </h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="container registration-container" novalidate>

                <form [formGroup]="formGroup" (ngSubmit)="update(formGroup.value)" class="form">
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Name" formControlName="name">
                        <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                            Name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Email address" formControlName="email">
                        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                            {{ getErrorEmail() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Password" formControlName="password">
                        <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                            Password needs to be at least six characters
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Phone" formControlName="phone">
                        <mat-error *ngIf="!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched">
                            Phone needs to be at least 11 number
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input type="number" matInput placeholder="Age" formControlName="age">
                        <mat-error *ngIf="!formGroup.controls['age'].valid && formGroup.controls['age'].touched">
                            Age is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                {{gender.viewValue}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="!formGroup.controls['gender'].valid && formGroup.controls['gender'].touched">
                            Gender is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Profession" formControlName="profession">
                        <mat-error *ngIf="!formGroup.controls['profession'].valid && formGroup.controls['profession'].touched">
                            Profession is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>User Type</mat-label>
                        <mat-select formControlName="type">
                            <mat-option *ngFor="let type of types" [value]="type.value">
                                {{type.viewValue}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="!formGroup.controls['type'].valid && formGroup.controls['type'].touched">
                            User Type is required
                        </mat-error>
                    </mat-form-field>

                    <br>
                    <div class="form-element">
                        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">
              Update
            </button>
                    </div>
                    <br>
                    <p class="success" *ngIf="success">Profile Updated Successfully</p>
                </form>
            </div>


        </mat-card-content>

    </mat-card>
</section>