<section id="submitted">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2 class="text-center title">
            Annotated History
          </h2>
        </mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <mat-form-field>
          <mat-label>Text search...</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Text search...">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select Data</mat-label>
            <mat-select [(ngModel)]="selectedValue" (selectionChange)="changeDataType($event.value)">
              <mat-option *ngFor="let sentiment of sentiments" [value]="sentiment.value">
                {{sentiment.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
            <!-- Serial Column -->
            <ng-container matColumnDef="serial">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
            </ng-container>
  
            <!-- Name Column -->
            <ng-container matColumnDef="text">
              <th mat-header-cell *matHeaderCellDef> Text </th>
              <td mat-cell *matCellDef="let element"> {{element.text}} </td>
            </ng-container>
  
            <!-- Email Column -->
            <ng-container matColumnDef="label">
              <th mat-header-cell *matHeaderCellDef> Label </th>
              <td mat-cell *matCellDef="let element">
                <ul>
                  <li *ngFor="let annotator of element.annotators">
                    <div *ngIf="annotator.user_id == user._id">
                      <div *ngIf="annotator.answer?.hasOwnProperty('subjectivity')">
                        {{annotator.answer.subjectivity == 'subjective' ? annotator.answer.polarity : annotator.answer.subjectivity}}
                      </div>
                      
                      <div *ngIf="annotator.answer?.hasOwnProperty('skip')">
                        {{annotator.answer.skip == true ? "skip" : annotator.answer.sentiment_overall}}
                      </div>

                      <div *ngIf="annotator.answer?.hasOwnProperty('emotions')">
                        {{annotator.answer.emotions.toString()}}
                      </div>

                      <div *ngIf="annotator.answer?.hasOwnProperty('sentiment_overall')">
                        {{annotator.answer.sentiment_overall.toString()}}
                      </div>
                    </div>
                  </li>
                  
                </ul>
              </td>
            </ng-container>
  
            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="accent" class="mr-2">
                  <a *ngIf="selectedValue == 'sentence-sentiment'" routerLink="/annotator/history-sentence-sentiment/{{ element._id}}">Edit</a>
                  <a *ngIf="selectedValue == 'paragraph-sentiment'" routerLink="/annotator/history-paragraph-sentiment/{{ element._id}}">Edit</a>
                  <a *ngIf="selectedValue == 'document-sentiment'" routerLink="/annotator/history-document-sentiment/{{ element._id}}">Edit</a>
                  <a *ngIf="selectedValue == 'sentence-emotion'" routerLink="/annotator/history-sentence-emotion/{{ element._id}}">Edit</a>
                <a *ngIf="selectedValue == 'paragraph-emotion'" routerLink="/annotator/history-paragraph-emotion/{{ element._id}}">Edit</a>
                </button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
  
    </mat-card>
  </section>
  