::ng-deep .mat-card-header{
    background-color: #673ab7;
    border-radius: 5px;
    color: white;
}
.create-group-header{
    margin: 20px 0;
    font-weight: bold;
}
::ng-deep .mat-card-header-text{
    width: 100%;
}

::ng-deep mat-card-content {
    border: 1px solid #dee3e2;
    border-top: none;
    width: 100%;
    padding: 1%;
}

::ng-deep mat-card{
    padding-top: 2px!important;
}

.registration-container{
    width: 50%;
    padding: 2% 3%;
    border: 1px solid #dee3e2;
}

::ng-deep mat-form-field{
    width: 100%;
}
.form-inline{
    padding: 0 2%;
}

.file-uploader{
    padding: 0 3%;
}

::ng-deep .mat-card-actions{
    padding: 0 26% !important;
}

::ng-deep .mat-card-actions button{
    padding: 0 5%;
}

.search {
  padding-left: 10px;
}

table {
  width: 100%;
}
