<section id="createGroup">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center title create-group-header">
                    Create Group
                </h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="container registration-container">
                <form [formGroup]="formGroup" (ngSubmit)="createGroup(formGroup.value)" class="form">

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Name" formControlName="name">
                        <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                            Name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Description" formControlName="description">
                        <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
                            Description is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <mat-label>Group Type</mat-label>
                        <mat-select formControlName="group_type" name="type">
                          <mat-option *ngFor="let type of types" [value]="type.value">
                            {{type.viewValue}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <br>
                    <br>
                    <div class="form-element">
                        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">
                          Create
                        </button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</section>