.annotator-group{
  padding: 2% 4%;
  border: 1px solid #dee3e2;
}

.title{
  margin: 20px 0;
  font-weight: bold;
}

/* .mat-card-content>:first-child {
  margin-top: 10px;
}

.mat-card-content>:last-child:not(.mat-card-footer) {
  margin-bottom: 10px;
} */

::ng-deep .mat-card-header-text {
  width: 100%;
}

::ng-deep mat-card {
  padding-top: 2px !important;
}

#group mat-card-content {
  display: flex;
  box-shadow: 1px 1px 5px -2px;
}

::ng-deep .mat-card-header{
  background-color: #673ab7;
  border-radius: 5px;
  color: white;
}

.annotator-group p{
  font-size: 1rem;
}

.sentiment-training{
  padding:3% 5%;
  background: #F8F9F8;
  border-radius: 5px;
}

.emotion-training{
  padding:3% 5%;
  background: #F8F9F8;
  border-radius: 5px;
}
