<section id="group">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center title">
                    My Group
                </h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="container annotator-group">
                <div class="sentiment-training mb-2">
                    <h3 class="text-left">
                        <strong>Group Name: </strong> {{group?.name}}
                    </h3>

                    <h3 class="text-left">
                        <strong>Group Permission: </strong> {{group?.permission}}
                    </h3>

                </div>
            </div>
        </mat-card-content>

    </mat-card>
</section>