<section id="allGroupTable">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center title groupList">
                    All Groups
                </h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <div class="col-8">
                    <mat-form-field>
                        <mat-label>Group search...</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Group search...">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field>
                        <mat-label>Filter By Group Type</mat-label>
                        <mat-select (selectionChange)="groupChange($event.value)">
                            <mat-option [value]="'Annotator'">Annotator</mat-option>
                            <mat-option [value]="'Linguistic'">Linguistic</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Serial Column -->
                    <ng-container matColumnDef="serial">
                        <th mat-header-cell *matHeaderCellDef> No.</th>
                        <td mat-cell *matCellDef="let element; let i = index;"> <span class="mobile-group-table">No:</span>{{i + 1}}</td>
                    </ng-container>

                    <!-- Group Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Group Name</th>
                        <td mat-cell *matCellDef="let element"> <span class="mobile-group-table">Group Name:</span>{{element.name}}</td>
                    </ng-container>

                    <!-- Group Name Column -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description</th>
                        <td mat-cell *matCellDef="let element"> <span class="mobile-group-table">Group ID:</span>{{element.description}}</td>
                    </ng-container>

                    <!-- Group Name Column -->
                    <ng-container matColumnDef="group_type">
                        <th mat-header-cell *matHeaderCellDef> Group Type</th>
                        <td mat-cell *matCellDef="let element"> <span class="mobile-group-table">Group Type:</span>{{element.group_type}}</td>
                    </ng-container>

                    <!-- Users Column -->
                    <ng-container matColumnDef="users">
                        <th mat-header-cell *matHeaderCellDef> Assigned Users</th>
                        <td mat-cell *matCellDef="let element"> <span class="mobile-group-table">Assigned Users:</span>
                            <ul>
                                <li *ngFor="let user of element.users">
                                    <span class="group-users">
                                      <strong>Name: </strong>{{user.name}} <br>
                                      <strong>Email: </strong>{{user.email}}
                                    </span>
                                </li>
                            </ul>
                        </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action</th>
                        <td mat-cell *matCellDef="let element" class="actionBtn"> <span class="mobile-group-table">Action:</span>
                            <button class="ml-2" mat-raised-button color="accent">
                              <a routerLink="/admin/groups/{{element._id}}">Edit</a>
                            </button>
                            <button class="ml-2" mat-raised-button (click)="openDialog(element._id)">Delete</button>

                            <button *ngIf="element.users.length == 0" class="ml-2" mat-raised-button color="accent">
                              <a routerLink="/admin/groups/assign-users/{{element._id}}">Assign Users</a>
                            </button>

                            <button *ngIf="element.users.length > 0 && element.group_type != 'Linguistic'" class="ml-2" mat-raised-button color="accent">
                              <a routerLink="/admin/groups/assign-tasks/{{element._id}}">Assgin Tasks</a>
                            </button>

                            <button *ngIf="element.users.length > 0 && element.group_type != 'Linguistic'" class="ml-2" mat-raised-button color="accent">
                                <a routerLink="/admin/groups/details/{{element._id}}">Details</a>
                              </button>

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row">
                    </tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</section>