::ng-deep .mat-card-header-text {
  width: 100%;
}

::ng-deep mat-card-header {
  background-color: #673ab7;
  border-radius: 5px;
  color: #fff;
}

.title {
  margin: 20px 0;
  font-weight: bold;
}

#allGroupTable mat-card-content {
  display: block !important;
  border: 1px solid #dee3e2;
}

::ng-deep mat-card {
  padding-top: 2px !important;
}

::ng-deep .mat-card-subtitle {
  margin: 0 auto;
  margin-top: 10px !important;
  width: 100%;
  height: auto;
  display: flex !important;
  margin-bottom: 10px !important;
}

.user-select {
  position: absolute;
  right: 20px;
}

.user-select h4 {
  text-align: center;
}

table {
  width: 100%;
}

ul li {
  list-style: none;
}

.group-users {
  border-bottom: 1px solid #6c757d;
  display: inline-block;
  margin-bottom: 6px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.actionBtn{
  display: flex;
}

.mobile-group-table {
  display: none;
}

td.mat-cell:first-of-type{
  padding-left: 10px;
}

th.mat-header-cell:first-of-type{
  padding-left: 10px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 10px;
}
@media(max-width: 600px) {
  .mobile-group-table {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .table-row { 
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }

  tr.mat-row {
    height: 100%;
  }

  td.mat-cell:first-of-type {
    padding-left: 0;
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
  }
}
