<section id="sentiment">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 class="text-center sentiment-annotation">
          Paragraph Level Emotion Analysis
        </h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="paragraph_emotion != null">
      <!------------new design----->

      <div class="container-fluid">
        <div class="row mt-3">
          <div class="col-2">
            <h4 class="text-left content-title"><b>Paragraph</b></h4>
          </div>
          <div class="col-10">
            <p class="text-left paragraph">
              {{ paragraph_emotion.text }}
            </p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-2">
            <h4 class="text-left content-title"><b>Select Topics</b></h4>
          </div>
          <div class="col-10">
            <div class="container-fluid topic-container">
              <span *ngFor="let topic of topics; let i = index">
                <input id="topic_{{i}}" type="checkbox" value="{{topic}}" (click)="selectTopic(i)" class="mr-1">
                <label for="topic_{{i}}" class="mr-3"> {{topic}}</label>
              </span>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <h4 class="text-center"><b>Add Your Topics</b></h4>
            <p class="text-center searchArea">
              <input type="text" [(ngModel)]="topicInput" class="mr-4">
              <button class="addBtn" (click)="addTopic()">Add</button>
            </p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-2">
            <h4 class="text-left content-title"><b>Polarity</b></h4>
          </div>
          <div class="col-10">
            <table style="width:100%">
              <tr>
                <th>Based on</th>
                <th>Polarity</th>
              </tr>
              <tr>
                <td>Overall</td>
                <td>
                  <div class="container-fluid topic-container">
                    <span *ngFor="let label of labels; let i = index">
                      <input id="overall_label_{{i}}" type="checkbox" value="{{label}}" (click)="selectEmotion('overall', label)" class="mr-1">
                      <label for="overall_label_{{i}}" class="mr-3"> {{label}}</label>
                    </span>
                  </div>
                </td>
              </tr>

              <tr *ngFor="let topic of selectedTopics" >
                <td>{{topic}}</td>
                <td>
                  <div class="container-fluid topic-container">
                    <span *ngFor="let label of labels; let i = index">
                      <input id="{{label}}_{{topic.split(' ').join('_')}}" type="checkbox" (click)="selectEmotion(topic, label)" class="mr-1">
                      <label for="{{label}}_{{topic.split(' ').join('_')}}" class="mr-3"> {{label}}</label>
                    </span>
                  </div>
                </td>
              </tr>

              <tr *ngFor="let topic of addedTopics; let i = index;" >
                <td>{{topic}} <span class="float-right" (click)="removeTopic(i)">x</span></td>
                <td>
                  <div class="container-fluid topic-container">
                    <span *ngFor="let label of labels; let i = index">
                      <input id="{{label}}_{{topic.split(' ').join('_')}}" type="checkbox" (click)="selectEmotion(topic, label)" class="mr-1">
                      <label for="{{label}}_{{topic.split(' ').join('_')}}" class="mr-3"> {{label}}</label>
                    </span>
                  </div>
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
      <!------------new design----->
    </mat-card-content>

    <mat-card-actions *ngIf="paragraph_emotion != null">
      <p class="action-btn">
        <button mat-raised-button color="primary" (click)="submit()"
          class="mr-3 form-submit-btn" [disabled]="selectedTopicsModel['overall'].length == 0">
          Submit
        </button>
        <button mat-raised-button color="warn" (click)="selectedTopicsModel['skip'] = true; submit()" class="unknown-btn">skip
        </button>
      </p>
    </mat-card-actions>

    <mat-card-content *ngIf="paragraph_emotion== null">
      <div class="container-fluid">
        <div class="row mt-3">
          <div class="col-12">
            <h1 class="text-center">No paragraph available right now.</h1>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>