<mat-card id="verifyPassword">
    <mat-card-content>
        <div class="verify-container">
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>

            <p class="text-center mt-3 ">
                <a routerLink="/">Sign In</a>
            </p>
        </div>
    </mat-card-content>
</mat-card>