<section id="groupDetails">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 class="text-center title">
          Paragraph Level Emotion Analysis(Review)
        </h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="container-fluid information-container">
        <h3 class="text-left mt-2 user-title">
          <b>Basic Information</b>
        </h3>
        <div class="row user-row">
          <div class="col-6">
            <p class="text-left"><b>Group Name</b><span class="user-info">: {{group?.name}}</span></p>
            <p class="text-left"><b>Description</b><span class="user-info">: {{group?.description}}</span></p>
            <p class="text-left"><b>Create Date</b><span class="user-info">: {{group?.created_at | date}}</span></p>
            <p class="text-left"><b>Status</b><span class="user-info">: Under Progress</span></p>
          </div>

          <div class="col-6">
            <p class="text-right"><b>Number of Data:</b><span class="user-info">: {{number_of_data}}</span>
            </p>
            <p class="text-right"><b>Validation Completed:</b><span class="user-info">: {{validation_complete}}</span>
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid viewData-container">
        <div class="row view-row mb-2">
          <div class="col-2">
            <h3 class="text-left view-title"><b>View Data</b></h3>
          </div>
          <div class="col-4 searchForm">
            <mat-form-field class="example-full-width">
              <mat-label>Search</mat-label>
              <input matInput (keyup)="applyFilter($event)" maxlength="256" placeholder="Search by Data">
            </mat-form-field>
          </div>
          <div class="col-3">
            <p class="text-right">
              <mat-form-field>
                <mat-label>Data Type</mat-label>
                <mat-select (selectionChange)="changeDataType()" [(ngModel)]="dataType">
                  <mat-option *ngFor="let data of data_types" [value]="data.value">
                    {{data.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>
          <div class="col-3">
            <p class="text-right">
              <mat-form-field>
                <mat-label>Filter Data</mat-label>
                <mat-select (selectionChange)="changeDataType()" [(ngModel)]="filterType">
                  <mat-option *ngFor="let filter of filter_types" [value]="filter.value">
                    {{filter.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>
        </div>


        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Serial Column -->
            <ng-container matColumnDef="serial">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
            </ng-container>

            <!-- Data Column -->
            <ng-container matColumnDef="data">
              <th mat-header-cell *matHeaderCellDef> Data </th>
              <td mat-cell *matCellDef="let element"> {{element.text}} </td>
            </ng-container>

            <!-- Annotator Column -->
            <ng-container *ngFor="let user of annotators" matColumnDef="{{user.name}}">
              <th mat-header-cell *matHeaderCellDef> {{user.name}} </th>
              <td mat-cell *matCellDef="let element">
                <ul>
                  <li *ngFor="let annotator of element.annotators">
                    <div *ngIf="annotator.user_id == user._id && 'answer' in annotator">
                      <div *ngIf="annotator.answer?.hasOwnProperty('skip')">
                        {{annotator.answer.skip == true ? "skip" : annotator.answer.sentiment_overall}}
                      </div>

                      <div *ngIf="annotator.answer?.hasOwnProperty('sentiment_overall')">
                        {{annotator.answer.sentiment_overall.toString()}}
                      </div>
                    </div>
                  </li>

                </ul>
              </td>
            </ng-container>

            <!-- Linguistic Column -->
            <ng-container  matColumnDef="linguistic">
              <th mat-header-cell *matHeaderCellDef> Linguistic </th>
              <td mat-cell *matCellDef="let element">
                <ul>
                  <li>
                    <div *ngIf="element.linguistics.length && 'linguistic_answer' in element">
                      <div *ngIf="element.linguistic_answer?.hasOwnProperty('sentiment_overall')">
                        {{element.linguistic_answer.sentiment_overall.toString()}}
                      </div>
                    </div>
                  </li>

                </ul>
              </td>
            </ng-container>

            <!-- Final Label Column -->
            <ng-container  matColumnDef="final" *ngIf="dataType == 'final-data'">
              <th mat-header-cell *matHeaderCellDef> Final Label </th>
              <td mat-cell *matCellDef="let element">
                <ul>
                  <li>
                    <div *ngIf="'answer' in element">
                      <div *ngIf="element.answer?.hasOwnProperty('skip')">
                        {{element.answer.skip == true ? "skip" : element.answer.sentiment_overall}}
                      </div>

                      <div *ngIf="element.answer?.hasOwnProperty('sentiment_overall')">
                        {{element.answer.sentiment_overall.toString()}}
                      </div>
                    </div>
                  </li>

                </ul>
              </td>
            </ng-container>

            <!-- Validation Column -->
            <ng-container matColumnDef="validation">
              <th mat-header-cell *matHeaderCellDef>Validation </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <div>
                  <button *ngIf="dataType == 'final-data' && element.validation" (click)="toggleValidation(element._id, i)" mat-raised-button color="primary" class="mr-2">
                    Ok
                  </button>
                  <button *ngIf="dataType == 'final-data' && !element.validation" (click)="toggleValidation(element._id, i)" mat-raised-button color="accent" class="mr-2">
                    Ok
                  </button>
                  <button mat-raised-button color="accent" class="mr-2">
                    <a routerLink="/linguist/paragraph-emotion-review/edit/{{ element._id}}" [queryParams]="{dataType: dataType, groupID: group?._id, filterType: filterType}">Edit</a>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

      </div>
    </mat-card-content>

  </mat-card>
</section>