<mat-card id="forgotPassword">
    <h1>
        Forgot your password?
    </h1>
    <h4>
        Enter your email address below and we’ll send you a link to reset your password
    </h4>


    <mat-card-content>
        <div class="forgot-container">
            <form [formGroup]="forgotForm" (ngSubmit)="forgot(forgotForm.value)" class="form">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="email@example.com" formControlName="email" required>
                    <mat-error *ngIf="(!forgotForm.controls['email'].valid && forgotForm.controls['email'].touched) || forgotForm.controls['email'].hasError('noAccount')">
                        {{ getErrorEmail() }}
                    </mat-error>
                </mat-form-field>

                <p *ngIf="success" class="success">
                    Reset link has been sent to your provided email, please check your email
                </p>

                <button class="submit mt-2" type="submit " mat-raised-button color="primary" [disabled]="!forgotForm.valid">Send</button>
            </form>

            <p class="text-center mt-3 ">
                <a routerLink="/">Sign In</a>
            </p>
        </div>
    </mat-card-content>
</mat-card>