<section id="all-users">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center title">
                    All Users
                </h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="container-fluid table-container">
                <div class="row">
                    <div class="col-8">
                        <mat-form-field>
                            <mat-label>User search...</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="User search...">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Filter Users</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let sentiment of sentiments" [value]="sentiment.value" routerLink="/admin/users" [queryParams]="{userType: sentiment.value}">
                                    {{sentiment.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>


                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!-- Serial Column -->
                        <ng-container matColumnDef="serial">
                            <th mat-header-cell *matHeaderCellDef> No.</th>
                            <td mat-cell *matCellDef="let element; let i = index;"> <span class="mobile-label">
                                    No.</span>{{i + 1}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Name </th>
                            <td mat-cell *matCellDef="let element"> <span class="mobile-label">
                                    Name</span>{{element.name}} </td>
                        </ng-container>

                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email</th>
                            <td mat-cell *matCellDef="let element"><span class="mobile-label"> Email</span>
                                {{element.email}} </td>
                        </ng-container>

                        <!-- Age Column -->
                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef> Phone </th>
                            <td mat-cell *matCellDef="let element"> <span class="mobile-label">
                                    Phone</span>{{element.phone}} </td>
                        </ng-container>

                        <!-- User Type Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> User type </th>
                            <td mat-cell *matCellDef="let element"> <span class="mobile-label"> User
                                    type</span>{{element.type}} </td>
                        </ng-container>

                        <!-- User Type Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"> <span class="mobile-label">
                                    Status</span>{{element.status}} </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Actions </th>
                            <td mat-cell *matCellDef="let element"><span class="mobile-label"> Actions</span>
                                <!--*ngIf="element.type != 'admin'"-->
                                <div>
                                    <button mat-raised-button color="accent" class="mr-2">
                                        <a routerLink="/admin/users/edit/{{ element._id}}">Edit</a>
                                    </button>
                                    <button mat-raised-button color="accent" class="mr-2">
                                        <a routerLink="/admin/users/details/{{ element._id}}">Details</a>
                                    </button>
                                    <button mat-raised-button (click)="openDialog(element._id)">Delete</button>
                                    <button class="ml-2" mat-raised-button *ngIf="element.status == 'verified'"
                                        (click)="active(element._id)" color="primary">Active</button>
                                </div>
                                <div *ngIf="element.type == 'admin'">
                                    &nbsp;
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
                    </table>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</section>