#login {
    max-width: 400px;
    padding: 3%!important;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #dee3e2;
    box-shadow: 1px 1px 4px 3px lightgrey!important;
}

#login mat-form-field {
    width: 100%;
}

.submit {
    padding: 10px;
    width: 100%;
}

::ng-deep #login .mat-card-header-text {
    margin: 0 !important;
}