<mat-card id="login">
    <h1>
        Log In
    </h1>

    <mat-card-content>
        <div class="login-container">
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="form">
                <mat-error *ngIf="error">
                    {{error}}
                </mat-error>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="email@example.com" formControlName="email" required>
                    <mat-error *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
                        {{ getErrorEmail() }}
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" type="password" formControlName="password" required>
                    <mat-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                        Password needs to be at least six characters
                    </mat-error>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <div style="transform:scale(0.95);transform-origin:0 0">
                    <re-captcha formControlName="recaptcha"></re-captcha>
                </div>
                <button class="submit mt-2" type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Log In</button>
            </form>

            <p class="text-center mt-3">
                <a routerLink="/register">Sign Up</a>
                <br>
                <br>
                <a class="mt-1" routerLink="/forget-password">Forgot Password?</a>
            </p>
        </div>
    </mat-card-content>
</mat-card>