#submitted mat-card-header {
    background-color: #673ab7;
    border-radius: 5px;
    color: #fff;
  }
  
  ::ng-deep .mat-card-header-text {
    width: 100%;
  }
  
  .mat-card-title {
    width: 100%;
  }
  
  table {
    width: 100%;
  }
  
  .title{
    margin: 20px 0;
    font-weight: bold;
  }
  
  #submitted mat-card-content{
    border: 1px solid #dee3e2;
    margin-top: 10px;
  }
  
  #submitted mat-card{
    padding-top: 2px !important;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 48%;
    margin-left: 2%;
  }
  
  ul li{
    list-style: none;
    text-transform: capitalize;
  }
  