::ng-deep .mat-card-header-text {
  width: 100%;
}

::ng-deep mat-card-header {
  background-color: #673ab7;
  border-radius: 5px;
  color: #fff;
}

.title {
  margin: 20px 0;
  font-weight: bold;
}

#classDistribution mat-card-content {
  display: block !important;
  border: 1px solid #dee3e2;
}

::ng-deep mat-card {
  padding-top: 2px !important;
}

::ng-deep .mat-card-subtitle {
  margin: 0 auto;
  margin-top: 10px !important;
  width: 100%;
  height: auto;
  display: flex !important;
  margin-bottom: 10px !important;
}
