<section id="classDistribution">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 class="text-center title groupList">
          Class Distribution Chart
        </h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="container-fluid">
        <h3 class="text-left mb-2">
          <b>Class Distribution of Sentiment Data</b>
        </h3>

        <div class="row mb-3">
          <div class="col-6" id="sentence_subjectivity" style="width: 100%; height: 250px;">
          </div>
          <div class="col-6" id="sentence_polarity" style="width: 100%; height: 250px;">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6" id="paragraph_polarity" style="width: 100%; height: 250px;">
          </div>
          <div class="col-6" id="document_polarity" style="width: 100%; height: 250px;">
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <h3 class="text-left mb-2">
          <b>Class Distribution of Emotion Data</b>
        </h3>
        <div class="row">
          
          <div class="col-6" id="sentence_emotion" style="width: 100%; height: 250px;">
          </div>
          <div class="col-6" id="paragraph_emotion" style="width: 100%; height: 250px;">
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
