#UploadHistory mat-card-header {
    background-color: #673ab7;
    border-radius: 5px;
    color: #fff;
}

 ::ng-deep .mat-card-header-text {
    width: 100%;
}

.mat-card-title {
    width: 100%;
}

table {
    width: 100%;
}

.title {
    margin: 20px 0;
    font-weight: bold;
}

#UploadHistory mat-card-content {
    border: 1px solid #dee3e2;
    margin-top: 10px;
}

#UploadHistory mat-card {
    padding-top: 2px !important;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mobile-label {
    display: none;
}

@media(max-width: 600px) {
    .mobile-label {
        width: 80px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .table-row {
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
    }
    tr.mat-row {
        height: 100%;
    }
    td.mat-cell:first-of-type {
        padding-left: 0;
    }
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        padding: 5px 0;
    }
}