<section id="UploadHistory">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center title">
                    Upload History
                </h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="container-fluid table-container">
                <mat-form-field>
                    <mat-label>Data search...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Data search...">
                </mat-form-field>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <!-- Class Type Column -->
                        <ng-container matColumnDef="class_type">
                            <th mat-header-cell *matHeaderCellDef>Class Type </th>
                            <td mat-cell *matCellDef="let element"> <span class="mobile-label"> Class Type</span>{{element.data_type.split('-')[1]}} </td>
                        </ng-container>

                        <!-- Data Type Column -->
                        <ng-container matColumnDef="data_type">
                            <th mat-header-cell *matHeaderCellDef> Data Type</th>
                            <td mat-cell *matCellDef="let element"><span class="mobile-label"> Data Type</span> {{element.data_type.split('-')[0]}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> <span class="mobile-label"> Date</span>{{element.created_at | date:'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <!-- Uploaded Data Column -->
                        <ng-container matColumnDef="uploaded_data">
                            <th mat-header-cell *matHeaderCellDef> # of Uploaded Data </th>
                            <td mat-cell *matCellDef="let element"> <span class="mobile-label"> # of Uploaded Data</span>{{element.uploaded_data}} </td>
                        </ng-container>

                        <!-- Discarded Data (High similarity) Column -->
                        <ng-container matColumnDef="similar_data">
                            <th mat-header-cell *matHeaderCellDef> # of Discarded Data (High similarity) </th>
                            <td mat-cell *matCellDef="let element"> <span class="mobile-label"> # of Discarded Data (High similarity)</span>{{element.similar_data}} </td>
                        </ng-container>

                         <!-- Stored Data Column -->
                         <ng-container matColumnDef="stored_data">
                            <th mat-header-cell *matHeaderCellDef> # of Stored Data </th>
                            <td mat-cell *matCellDef="let element"> <span class="mobile-label"> # of Stored Data</span>{{element.stored_data}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
                    </table>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</section>