<section id="sentiment">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2 class="text-center sentiment-annotation">
            Sentence Level Emotion Analysis
          </h2>
        </mat-card-title>
      </mat-card-header>
  
      <mat-card-content *ngIf="sentence_emotion != null">
  
        <!------------new design----->
  
        <div class="container-fluid">
          <div class="row mt-3">
            <div class="col-2">
              <h4 class="text-left content-title"><b>Sentence</b></h4>
            </div>
            <div class="col-10">
              <p class="text-left paragraph">
                {{ sentence_emotion.text }}
              </p>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-2">
              <h4 class="text-left content-title"><b>Emotion</b></h4>
            </div>
            <div class="col-10">
              <div class="container-fluid topic-container">
                <span *ngFor="let label of labels; let i = index">
                  <input id="label_{{i}}" type="checkbox" value="{{label}}" (click)="selectEmotion(label)" [checked]="emotions.indexOf(label) > -1" class="mr-1">
                  <label for="label_{{i}}" class="mr-3"> {{label}}</label>
                </span>
              </div>
            </div>
          </div>

        </div>
        <!------------new design----->
  
      </mat-card-content>
  
      <mat-card-actions *ngIf="sentence_emotion != null">
        <p class="action-btn">
          <button mat-raised-button color="primary" (click)="submit(false)"
                  class="mr-3 form-submit-btn"  [disabled]="emotions.length == 0">
            Submit
          </button>
          <button mat-raised-button color="warn" (click)="submit(true)" class="unknown-btn">skip
          </button>
        </p>
      </mat-card-actions>

      <mat-card-content *ngIf="sentence_emotion == null">
        <div class="container-fluid">
          <div class="row mt-3">
            <div class="col-12">
              <h1 class="text-center">No sentence emotion available right now.</h1>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  
  