*{
  margin: 0;
  padding: 0;
}

@font-face{
	src: url('../fonts/Roboto-Regular.ttf');
	font-family: Roboto-Regular;
}

@font-face{
	src: url('../fonts/Roboto-Bold.ttf');
	font-family: Roboto-Bold;
}

@font-face{
	src: url('../fonts/Siyamrupali_1_01.ttf');
	font-family: Siyamrupali;
}


body{
  background-color: white;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-family: Roboto-Regular, Roboto-Bold, Siyamrupali;
  font-weight: 500;
  position: relative;
  font-size: 14px;
  width: 100%;
}



#amsDashboard {
  background-color: #673ab7;
  padding-left: 10px;
  width: 20%;
  float: left;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
