<section id="groupDetails">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 class="text-center title">
          Group Details
        </h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="container-fluid information-container">
        <h3 class="text-left mt-2 user-title">
          <b>Basic Information</b>
        </h3>
        <div class="row user-row">
          <div class="col-6">
            <p class="text-left"><b>Group Name</b><span class="user-info">: {{group?.name}}</span></p>
            <p class="text-left"><b>Description</b><span class="user-info">: {{group?.description}}</span></p>
            <p class="text-left"><b>Create Date</b><span class="user-info">: {{group?.created_at | date}}</span></p>
            <p class="text-left"><b>Status</b><span class="user-info">: Under Progress</span></p>
          </div>

          <div class="col-6">
            <p class="text-right">
              <mat-form-field>
                <mat-label>Select Data</mat-label>
                <mat-select [(ngModel)]="selectedValue" (selectionChange)="changeDataType($event.value)">
                  <mat-option *ngFor="let sentiment of sentiments" [value]="sentiment.value">
                    {{sentiment.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>

            <p class="text-right"><b>Analysis Type</b><span class="user-info">: {{selectedValue.split('-')[1]}}</span>
            </p>
            <p class="text-right"><b>Instance Type</b><span class="user-info">: {{selectedValue.split('-')[0]}}</span>
            </p>
            <p class="text-right"><b>Total Instances</b><span class="user-info">:
                {{group_details?.total_instances}}</span></p>
            <p class="text-right"><b>Labelling Completed</b><span class="user-info">:
                {{group_details?.labeling_completed}}</span></p>
            <p class="text-right"><b>Total Skipped</b><span class="user-info">: {{group_details?.total_skipped}}</span>
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid annotator-status">
        <div class="row mt-2 mb-2 search-row">
          <div class="col-6">
            <h3 class="text-left"><b>Annotator Status</b></h3>
          </div>
          <div class="col-6">
            <div class="row btnRow">
              <button class="deactivateBtn actionBtn" (click)="deactiveUser()">Deactivate</button>
              <button class="addBtn ml-2 actionBtn">
                <a routerLink="/admin/groups/assign-users/{{group?._id}}">Add</a>
              </button>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="5%">No</th>
                <th width="20%">Name</th>
                <th width="20%">Email</th>
                <th width="20%"># of Assigned Data</th>
                <th width="15%">Labelling Completed</th>
                <th width="10%">Accuracy on 5%</th>
                <th width="10%">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let annotator of annotator_status; let i = index;">
                <td>
                  <mat-checkbox [color]="'primary'" (change)="selectUser(annotator.user._id, $event)"></mat-checkbox>
                </td>
                <td>{{annotator.user.name}}</td>
                <td>{{annotator.user.email}}</td>
                <td>{{annotator.assigned_data}}</td>
                <td>{{annotator.annotated_data}}</td>
                <td>{{annotator.accuracy}}</td>
                <td>{{annotator.user.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class="container-fluid" *ngIf="group?.group_type != 'Linguistic'">
        <div class="row calculation-row">
          <button class="calculateBtn" (click)="calculatePerformance()">Calculate Annotator Performance</button>
          <button class="calculateBtn" [disabled]="is_fleiss_kappa_active" (click)="calculateKappa()">Calculate Fleiss Kappa</button>
        </div>
      </div>

      <div class="container-fluid viewData-container">
        <div class="row view-row mb-2">
          <div class="col-6">
            <h3 class="text-left view-title"><b>View Data</b></h3>
          </div>
          <div class="col-6 searchForm">
            <mat-form-field class="example-full-width">
              <mat-label>Search</mat-label>
              <input matInput (keyup)="applyFilter($event)" maxlength="256" placeholder="Search by Data">
            </mat-form-field>
          </div>
        </div>


        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Serial Column -->
            <ng-container matColumnDef="serial">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="data">
              <th mat-header-cell *matHeaderCellDef> Data </th>
              <td mat-cell *matCellDef="let element"> {{element.text}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container *ngFor="let user of users" matColumnDef="{{user.name}}">
              <th mat-header-cell *matHeaderCellDef> {{user.name}} </th>
              <td mat-cell *matCellDef="let element">
                <ul>
                  <li *ngFor="let annotator of element.annotators">
                    <div *ngIf="annotator.user_id == user._id && 'answer' in annotator">
                      <div *ngIf="annotator.answer?.hasOwnProperty('subjectivity')">
                        {{annotator.answer.subjectivity == 'subjective' ? annotator.answer.polarity : annotator.answer.subjectivity}}
                      </div>

                      <div *ngIf="annotator.answer?.hasOwnProperty('skip')">
                        {{annotator.answer.skip == true ? "skip" : annotator.answer.sentiment_overall}}
                      </div>

                      <div *ngIf="annotator.answer?.hasOwnProperty('emotions')">
                        {{annotator.answer.emotions.toString()}}
                      </div>

                      <div *ngIf="annotator.answer?.hasOwnProperty('sentiment_overall')">
                        {{annotator.answer.sentiment_overall.toString()}}
                      </div>
                    </div>
                  </li>

                </ul>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container *ngFor="let user of linguistics; let i = index" matColumnDef="{{'L' + (i+1) + ': ' + user.name}}">
              <th mat-header-cell *matHeaderCellDef> {{'L' + (i+1) + ': ' + user.name}} </th>
              <td mat-cell *matCellDef="let element">
                <ul>
                  <li *ngFor="let linguistic of element.linguistics">
                    <div *ngIf="linguistic.user_id._id == user._id && 'answer' in linguistic">
                      <div *ngIf="linguistic.answer?.hasOwnProperty('subjectivity')">
                        {{linguistic.answer.subjectivity == 'subjective' ? linguistic.answer.polarity : linguistic.answer.subjectivity}}
                      </div>

                      <div *ngIf="linguistic.answer?.hasOwnProperty('skip')">
                        {{linguistic.answer.skip == true ? "skip" : linguistic.answer.sentiment_overall}}
                      </div>

                      <div *ngIf="linguistic.answer?.hasOwnProperty('emotions')">
                        {{linguistic.answer.emotions.toString()}}
                      </div>

                      <div *ngIf="linguistic.answer?.hasOwnProperty('sentiment_overall')">
                        {{linguistic.answer.sentiment_overall.toString()}}
                      </div>
                    </div>
                  </li>

                </ul>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

      </div>
    </mat-card-content>

  </mat-card>
</section>