#groupDetails mat-card-header {
    background-color: #673ab7;
    border-radius: 5px;
    color: #fff;
}
  
::ng-deep .mat-card-header-text {
    width: 100%;
}
  
.mat-card-title {
    width: 100%;
}

#groupDetails mat-card-content{
    border: 1px solid #dee3e2;
    margin-top: 10px;
}
  
#groupDetails mat-card{
    padding-top: 2px !important;
}
.title{
    margin: 20px 0;
    font-weight: bold;
}

.user-title{
    padding: 10px;
    box-shadow: 0 0 5px -2px;
}

.user-row{
    padding: 10px;
}

.search-row{
    padding: 10px;
    box-shadow: 0 0 5px -2px;
}

.btnRow{
    justify-content: flex-end;
}

.actionBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.actionBtn:hover{
    background-color: #673ab7;
    color: white;
}

.calculation-row{
    padding: 20px;
    justify-content: space-evenly;
}

.calculateBtn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 500;
    background-color: #80808052;
}

.calculateBtn:hover{
    background-color: #673ab7;
    color: white;
}

.view-row{
    box-shadow: 0 0 5px -2px;
}
.view-title{
    padding: 10px;
}
.searchForm{
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

ul li{
    list-style: none;
    text-transform: capitalize;
}