<section id="all-users">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center title">
                    Assign Users to Group
                </h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="container-fluid table-container">

                <div class="row mt-3">
                    <div class="col-md-6 offset-md-3 assign-box">
                        <b>Group Name:</b> {{group?.name}}<br> <b>Users:</b>
                        <ul class="list-group ml-5" style="width: 70%;">
                            <li class="list-group-item" *ngFor="let user of group?.users; let i = index;">
                                {{(i+1) + '. ' + user.name}}
                            </li>
                            <li class="list-group-item" *ngFor="let user of selection.selected; let i = index;">
                                {{(group?.users.length + i + 1) + '. ' + user.name}}
                            </li>
                        </ul>
                        <p class="text-center mt-3">
                            <button class="ml-2" mat-raised-button (click)="assign()">Assign</button>
                        </p>
                    </div>
                </div>


                <mat-form-field>
                    <mat-label>User search...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="User search...">
                </mat-form-field>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="serial">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Name </th>
                            <td mat-cell *matCellDef="let element">{{element.name}} </td>
                        </ng-container>

                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email</th>
                            <td mat-cell *matCellDef="let element">{{element.email}} </td>
                        </ng-container>

                        <!-- User type Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> User Type</th>
                            <td mat-cell *matCellDef="let element">{{element.type}} </td>
                        </ng-container>

                        <!-- Age Column -->
                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef> Phone </th>
                            <td mat-cell *matCellDef="let element">{{element.phone}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
                    </table>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</section>