::ng-deep .mat-card-header-text {
  width: 100%;
}

::ng-deep mat-card-header {
  background-color: #673ab7;
  border-radius: 5px;
  color: #fff;
}

.title {
  margin: 20px 0;
  font-weight: bold;
}

::ng-deep mat-card {
    padding-top: 2px !important;
  }

  .statistics-title{
    padding: 10px;
    box-shadow: 0 0 5px -2px;
  }