<section id="overallStatistics">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2 class="text-center title mt-3">
            Overall Statistics
          </h2>
        </mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <div class="container-fluid basic-statistics mt-2" *ngIf="basic_statics != undefined">
            <h3 class="text-left statistics-title mt-3">
                <b>Basic Statistics</b>
            </h3>
            <p class="text-left"><b>Number of Annotators</b> : {{basic_statics.total_annotators}}</p>
            <p class="text-left"><b>Number of Linguistics</b> : {{basic_statics.total_linguistics}}</p>
            <p class="text-left"><b>Number of Groups</b> : {{basic_statics.total_groups}}</p>
        </div>

        <div class="container-fluid data-statistics">
            <h3 class="text-left statistics-title mt-3">
                <b>Data Statistics</b>
            </h3>
            <div class="row">
                <div class="col-6">
                    <h4 class="text-center"><b>Available Data</b></h4>
                    <div class="container-fluid">
                      <table class="table table-bordered" *ngIf="available_data != undefined">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Sentiment</th>
                            <th>Emotion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Sentence</td>
                            <td>{{available_data.sentence_sentiment}}</td>
                            <td>{{available_data.sentence_emotion}}</td>
                          </tr>
                          <tr>
                            <td>Paragraph</td>
                            <td>{{available_data.paragraph_sentiment}}</td>
                            <td>{{available_data.paragraph_emotion}}</td>
                          </tr>
                          <tr>
                            <td>Document</td>
                            <td>{{available_data.document_sentiment}}</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>

                <div class="col-6">
                    <h4 class="text-center"><b>Assigned Data</b></h4>
                    <div class="container-fluid">
                      <table class="table table-bordered" *ngIf="assigned_data != undefined">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Sentiment</th>
                            <th>Emotion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Sentence</td>
                            <td>{{assigned_data.sentence_sentiment}}</td>
                            <td>{{assigned_data.sentence_emotion}}</td>
                          </tr>
                          <tr>
                            <td>Paragraph</td>
                            <td>{{assigned_data.paragraph_sentiment}}</td>
                            <td>{{assigned_data.paragraph_emotion}}</td>
                          </tr>
                          <tr>
                            <td>Document</td>
                            <td>{{assigned_data.document_sentiment}}</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <h4 class="text-center"><b>Annoted Data</b></h4>
                    <div class="container-fluid">
                      <table class="table table-bordered" *ngIf="annotated_data != undefined">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Sentiment</th>
                            <th>Emotion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Sentence</td>
                            <td>{{annotated_data.sentence_sentiment}}</td>
                            <td>{{annotated_data.sentence_emotion}}</td>
                          </tr>
                          <tr>
                            <td>Paragraph</td>
                            <td>{{annotated_data.paragraph_sentiment}}</td>
                            <td>{{annotated_data.paragraph_emotion}}</td>
                          </tr>
                          <tr>
                            <td>Document</td>
                            <td>{{annotated_data.document_sentiment}}</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="col-6">
                    <h4 class="text-center"><b>Unannoted Data</b></h4>
                    <div class="container-fluid">
                      <table class="table table-bordered" *ngIf="unannotated_data != undefined">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Sentiment</th>
                            <th>Emotion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Sentence</td>
                            <td>{{unannotated_data.sentence_sentiment}}</td>
                            <td>{{unannotated_data.sentence_emotion}}</td>
                          </tr>
                          <tr>
                            <td>Paragraph</td>
                            <td>{{unannotated_data.paragraph_sentiment}}</td>
                            <td>{{unannotated_data.paragraph_emotion}}</td>
                          </tr>
                          <tr>
                            <td>Document</td>
                            <td>{{unannotated_data.document_sentiment}}</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  