<section id="sentiment">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 class="text-center sentiment-annotation">
          Paragraph Level Sentiment Analysis
        </h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="paragraph != null">
      <!------------new design----->

      <div class="container-fluid">
        <div class="row mt-3">
          <div class="col-2">
            <h4 class="text-left content-title"><b>Paragraph</b></h4>
          </div>
          <div class="col-10">
            <p class="text-left paragraph">
              {{ paragraph.text }}
            </p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-2">
            <h4 class="text-left content-title"><b>Select Topics</b></h4>
          </div>
          <div class="col-10">
            <div class="container-fluid topic-container">
              <span *ngFor="let topic of topics; let i = index">
                <input id="topic_{{i}}" type="checkbox" value="{{topic}}" (click)="selectTopic(i)" class="mr-1">
                <label for="topic_{{i}}" class="mr-3"> {{topic}}</label>
              </span>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <h4 class="text-center"><b>Add Your Topics</b></h4>
            <p class="text-center searchArea">
              <input type="text" [(ngModel)]="topicInput" class="mr-4">
              <button class="addBtn" (click)="addTopic()">Add</button>
            </p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-2">
            <h4 class="text-left content-title"><b>Polarity</b></h4>
          </div>
          <div class="col-10">
            <table style="width:100%">
              <tr>
                <th>Based on</th>
                <th>Polarity</th>
              </tr>
              <tr>
                <td>Overall</td>
                <td>
                  <mat-form-field class="form-element para-doc-polarity">
                    <mat-label>Polarity</mat-label>
                    <mat-select name="type" [(ngModel)]="selectedTopicsModel['overall']">
                      <mat-option *ngFor="let type of polarities" [value]="type.value">
                        {{type.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>

              <tr *ngFor="let topic of selectedTopics" >
                <td>{{topic}}</td>
                <td>
                  <mat-form-field class="form-element para-doc-polarity">
                    <mat-label>Polarity</mat-label>
                    <mat-select name="type" [(ngModel)]="selectedTopicsModel[topic]">
                      <mat-option *ngFor="let type of polarities" [value]="type.value">
                        {{type.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> 
                </td>
              </tr>

              <tr *ngFor="let topic of addedTopics; let i = index;" >
                <td>{{topic}} <span class="float-right" (click)="removeTopic(i)">x</span></td>
                <td>
                  <mat-form-field class="form-element para-doc-polarity">
                    <mat-label>Polarity</mat-label>
                    <mat-select name="type" [(ngModel)]="selectedTopicsModel[topic]">
                      <mat-option *ngFor="let type of polarities" [value]="type.value">
                        {{type.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
      <!------------new design----->
    </mat-card-content>

    <mat-card-actions *ngIf="paragraph != null">
      <p class="action-btn">
        <button mat-raised-button color="primary" (click)="submit()"
          class="mr-3 form-submit-btn" [disabled]="!selectedTopicsModel['overall']">
          Submit
        </button>
        <button mat-raised-button color="warn" (click)="selectedTopicsModel['skip'] = true; submit()" class="unknown-btn">skip
        </button>
      </p>
    </mat-card-actions>

    <mat-card-content *ngIf="paragraph== null">
      <div class="container-fluid">
        <div class="row mt-3">
          <div class="col-12">
            <h1 class="text-center">No paragraph available right now.</h1>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>