<section id="instructions">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center instructions-title">
                  {{title}}
                </h2>
            </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <mat-accordion>
                    <mat-expansion-panel>
                    <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span class="instructions-header">Sentence Sentiment</span>
                            </mat-panel-title>  
                    </mat-expansion-panel-header>
                        <p class="text-left">

                            <strong>There are total 6 sentiment class:</strong> <br> <br>
                            1. <strong>Objective (No sentiment)</strong> <br>
                            2. <strong>Neutral/Mixed sentiment</strong> <br>
                            3. <strong>Strongly Positive sentiment</strong> <br>
                            4. <strong>Weakly Positive sentiment</strong> <br>
                            5. <strong>Strongly Negative sentiment</strong> <br>
                            6. <strong>Weakly Negative sentiment</strong> <br> <br>

                            ১ । <strong>Objective (No sentiment)</strong> : <br>
                            কোন বাক্যে যখন যেকোনো বিষয়ে বক্তব্য দেয়া হয় (facts , বর্ণনা , চিরন্তন সত্য ইত্যাদি) যেখানে speaker এর কোন অভিমত প্রকাশ পায় না, বরং কোন কিছু বর্ণনা করা হয় মাত্র, তখন সেটা এই category তে যাবে। যেমন : করোনা পরিস্থিতি মোকাবেলায় ন্যাশনাল গার্ড মোতায়েন করেছে নিউইয়র্কের গভর্নর। তিনি আইইডিসিআরে আয়োজিত নিয়মিত প্রেস ব্রিফিংয়ে এসব কথা বলেন। বাংলাদেশ দক্ষিণ এশিয়ার ক্ষুদ্র একটি দেশ।
                            <br>
                            <br>
                            ২ । <strong>Neutral/Mixed sentiment</strong> : <br>
                            i) কোন বাক্তি/ জিনিশের এমন কোন বৈশিষ্ট্য যদি বর্ণনা করা হয়,  যেটা Positive/ Negative কোনটাই না তাহলেও এই catagory তে যাবে। যেমন: কলমটা ছোট। বাড়িটা অনেক বড়।  লোকটাকে চেনা চেনা মনে হচ্ছে । ঢাকায় অনেক মসজিদ আছে। নিলয় ক্লাস টু তে পড়ে।  
                            <br>
                            ii) প্রশ্নবোধক বাক্যে যদি কোন কিছু জানতে চাওয়া হয়, কোন ধরনের Positive/ Negative emotion প্রকাশ না পায় সেগুলো এই catagory তে যাবে।   যেমন : আপনার নাম  কি?, কে কে বাড়ির কাজ কর নি হাত তোল । ভাই, স্কুলটা কোন দিকে? ২ প্যাকেট কিনলে কি ১টা ফ্রি দিবেন?
                            <br>
                            iii) কোনও suggestion / request যেখানে Positive/ Negative emotion প্রকাশ না পায় সেগুলো এই catagory তে যাবে। যেমন : বেপারটা একটু দেখবেন।  তুমি এটা ট্রাই করে দেখতে পার। একটা নতুন গান রিলিজ দেন না ভাই।
                            <br>
                            iv)কোনও বাক্যের ক্ষেত্রে বাক্যটি  conflicting বা পরস্পরবিরোধী sentiment আছে বলে মনে হলে সেটা এই catagory তে যাবে।  যেমন:  "কাজটা ভালই করেছ , তবে আরও একটু চেষ্টা করলে আরও ভাল হত " এটা এই catagory তে যাবে। তবে খুব clearly বোঝা গেলে যেমন : "ছেলেটার এমনিতে সবই ভাল , তবে চরিত্রে সমস্যা আছে। " এটা negative হবে।
                            <br>
                            <br>
                            ৩। <strong>Negative sentiment</strong> : <br>
                            i) রাগ, ঘৃণা, বিরক্তি ,  হিংসাত্মক ও ধ্বংসমূলক কথাবার্তা প্রকাশ পেলে এই catagory তে যাবে। যেমন : সরকার কি এসব চোখে দেখে না ? , ওদের বাড়িঘর পুড়িয়ে দেশ থেকে বের করে দেওয়া উচিত। (SN) আল্লাহ তুমি কাফিরদের ধ্বংস করে দাও, আমিন (SN)  আমি কি আপনার কাছে এটা জানতে চেয়েছি? (WN).  এত টান ভালবাসা আসে কোথা থেকে ? (WN)  সাহসী শব্দের অর্থ কি নগ্নতা!!? (SN) 
                            <br>
                            
                            ii) কোন বাক্তি/ জিনিশের এমন কোন বৈশিষ্ট্য যদি বর্ণনা করা হয় যেটা বক্তার পছন্দ না । যেমন : এত বাজে খেলা আমি জীবনেও দেখি নাই।(SN) বার্মিজদের চরিত্রই খারাপ।(SN)
                            <br>
                            <br>
                            ৪। <strong>Positive sentiment</strong> : <br>
                            i) প্রশংসা, আনন্দ, উদযাপন, সন্তোষ প্রকাশমূলক কথাবার্তা প্রকাশ পেলে এই catagory তে যাবে। যেমন : সাবাস বাংলাদেশ, এগিয়ে যাও তোমরা। তোমরা খুব  ভাল ফলাফল করেছ (SP)। আল্লাহ তুমি সবাইকে হেফাজত করো আমিন (SP)
                            <br>
                            ii) double negative বাক্য হলেও সেটা positive হতে পারে । যেমন : বাংলাদেশ কিন্তু খারাপ খেলে নাই (WP), আমি জীবনেও তার নিন্দা করব না (SP)।
                            <br>
                            ৫। <strong>Weakly vs Strongly</strong>: <br>
                            i) যখন সুস্পষ্টভাবে  speaker কারো প্রশংসা/নিন্দা করবে তখন সেটা Strongly Positive/Negative হবে। যেমন: বাংলালিংকের তো নেটওয়ার্কই থাকে না (Strongly Negative)।
                            <br>
                            
                            ii) <strong>example (All sentiments in one sentence )</strong>: <br>
                            Strongly Positive: ওরা বেশ ভাল কাজ করেছে। ওরা ভাল কাজ করেছে। <br>
                            Weakly Positive: ওরা মোটামুটি ভাল কাজ করেছে। <br>
                            Neutral: ওরা মোটামুটি কাজ করেছে। <br>
                            Weakly Negative: ওরা খুব একটা ভাল কাজ করে নাই। ওরা খারাপ কাজ করেছে। <br>
                            Strongly Negative: ওরা মোটেও ভাল কাজ করে নাই। ওরা খুবই খারাপ কাজ করেছে। <br> <br>

                            ৬। <strong>Perspective</strong>: sentiment মূলত depend করবে speaker এর দৃষ্টিভঙ্গির উপর, কার সম্পর্কে কথা বলা হচ্ছে তার উপরে না। যেমনঃ ধুর ! গ্রামীনফোনের কল রেট এত বেশি। (SN)  এখানে কল রেট বেশী হওয়ায় স্পিকার খেপে আছে মনে হচ্ছে দেখে এটা negative.  বাংলালিংকের নেটওয়ার্ক খুবই বাজে। (SN)
                            <br> <br>
                            ৭। <strong>Sarcasm</strong>: সারকাসম / ব্যাঙ্গাত্বক sentence এর ক্ষেত্রে খুব বেশি গভীর অর্থ চিন্তা না করে আপাতত যে meaning বোঝা যাচ্ছে সেটার ভিত্তিতেই sentiment নিরধারিত হবে। ওহ , তুমি তো খুব ভাল মানুষ।
                            এখানে গভীর চিন্তা করলে এটাকে sarcastic / negative মনে হতে পারে। কিন্তু simply এটাকে আমরা positive sentence হিসেবেই চিহ্নিত করব।
                            <br> <br>
                        </p>

                        
                    </mat-expansion-panel>
                
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span class="instructions-header">Paragraph Sentiment</span>
                            </mat-panel-title>  
                    </mat-expansion-panel-header>
                    <p class="text-left">

                        <strong>There are total 6 sentiment class:</strong> <br> <br>
                            1. <strong>Objective (No sentiment)</strong> <br>
                            2. <strong>Neutral/Mixed sentiment</strong> <br>
                            3. <strong>Strongly Positive sentiment</strong> <br>
                            4. <strong>Weakly Positive sentiment</strong> <br>
                            5. <strong>Strongly Negative sentiment</strong> <br>
                            6. <strong>Weakly Negative sentiment</strong> <br> <br>

                        ১ । <strong>Objective (No sentiment)</strong> : <br>
                        কোন বাক্যে যখন যেকোনো বিষয়ে বক্তব্য দেয়া হয় (facts , বর্ণনা , চিরন্তন সত্য ইত্যাদি) যেখানে speaker এর কোন অভিমত প্রকাশ পায় না, বরং কোন কিছু বর্ণনা করা হয় মাত্র, তখন সেটা এই category তে যাবে। যেমন : করোনা পরিস্থিতি মোকাবেলায় ন্যাশনাল গার্ড মোতায়েন করেছে নিউইয়র্কের গভর্নর। তিনি আইইডিসিআরে আয়োজিত নিয়মিত প্রেস ব্রিফিংয়ে এসব কথা বলেন। বাংলাদেশ দক্ষিণ এশিয়ার ক্ষুদ্র একটি দেশ।
                        <br>
                        <br>
                        ২ । <strong>Neutral/Mixed sentiment</strong> : <br>
                        i) কোন বাক্তি/ জিনিশের এমন কোন বৈশিষ্ট্য যদি বর্ণনা করা হয়,  যেটা Positive/ Negative কোনটাই না তাহলেও এই catagory তে যাবে। যেমন: কলমটা ছোট। বাড়িটা অনেক বড়।  লোকটাকে চেনা চেনা মনে হচ্ছে । ঢাকায় অনেক মসজিদ আছে। নিলয় ক্লাস টু তে পড়ে।  
                        <br>
                        ii) প্রশ্নবোধক বাক্যে যদি কোন কিছু জানতে চাওয়া হয়, কোন ধরনের Positive/ Negative emotion প্রকাশ না পায় সেগুলো এই catagory তে যাবে।   যেমন : আপনার নাম  কি?, কে কে বাড়ির কাজ কর নি হাত তোল । ভাই, স্কুলটা কোন দিকে? ২ প্যাকেট কিনলে কি ১টা ফ্রি দিবেন?
                        <br>
                        iii) কোনও suggestion / request যেখানে Positive/ Negative emotion প্রকাশ না পায় সেগুলো এই catagory তে যাবে। যেমন : বেপারটা একটু দেখবেন।  তুমি এটা ট্রাই করে দেখতে পার। একটা নতুন গান রিলিজ দেন না ভাই।
                        <br>
                        iv)কোনও বাক্যের ক্ষেত্রে বাক্যটি  conflicting বা পরস্পরবিরোধী sentiment আছে বলে মনে হলে সেটা এই catagory তে যাবে।  যেমন:  "কাজটা ভালই করেছ , তবে আরও একটু চেষ্টা করলে আরও ভাল হত " এটা এই catagory তে যাবে। তবে খুব clearly বোঝা গেলে যেমন : "ছেলেটার এমনিতে সবই ভাল , তবে চরিত্রে সমস্যা আছে। " এটা negative হবে।
                        <br>
                        <br>
                        ৩। <strong>Negative sentiment</strong> : <br>
                        i) রাগ, ঘৃণা, বিরক্তি ,  হিংসাত্মক ও ধ্বংসমূলক কথাবার্তা প্রকাশ পেলে এই catagory তে যাবে। যেমন : সরকার কি এসব চোখে দেখে না ? , ওদের বাড়িঘর পুড়িয়ে দেশ থেকে বের করে দেওয়া উচিত। (SN) আল্লাহ তুমি কাফিরদের ধ্বংস করে দাও, আমিন (SN)  আমি কি আপনার কাছে এটা জানতে চেয়েছি? (WN).  এত টান ভালবাসা আসে কোথা থেকে ? (WN)  সাহসী শব্দের অর্থ কি নগ্নতা!!? (SN) 
                        <br>
                        
                        ii) কোন বাক্তি/ জিনিশের এমন কোন বৈশিষ্ট্য যদি বর্ণনা করা হয় যেটা বক্তার পছন্দ না । যেমন : এত বাজে খেলা আমি জীবনেও দেখি নাই।(SN) বার্মিজদের চরিত্রই খারাপ।(SN)
                        <br>
                        <br>
                        ৪। <strong>Positive sentiment</strong> : <br>
                        i) প্রশংসা, আনন্দ, উদযাপন, সন্তোষ প্রকাশমূলক কথাবার্তা প্রকাশ পেলে এই catagory তে যাবে। যেমন : সাবাস বাংলাদেশ, এগিয়ে যাও তোমরা। তোমরা খুব  ভাল ফলাফল করেছ (SP)। আল্লাহ তুমি সবাইকে হেফাজত করো আমিন (SP)
                        <br>
                        ii) double negative বাক্য হলেও সেটা positive হতে পারে । যেমন : বাংলাদেশ কিন্তু খারাপ খেলে নাই (WP), আমি জীবনেও তার নিন্দা করব না (SP)।
                        <br>
                        ৫। <strong>Weakly vs Strongly</strong>: <br>
                        i) যখন সুস্পষ্টভাবে  speaker কারো প্রশংসা/নিন্দা করবে তখন সেটা Strongly Positive/Negative হবে। যেমন: বাংলালিংকের তো নেটওয়ার্কই থাকে না (Strongly Negative)।
                        <br>
                        
                        ii) <strong>example (All sentiments in one sentence )</strong>: <br>
                        Strongly Positive: ওরা বেশ ভাল কাজ করেছে। ওরা ভাল কাজ করেছে। <br>
                        Weakly Positive: ওরা মোটামুটি ভাল কাজ করেছে। <br>
                        Neutral: ওরা মোটামুটি কাজ করেছে। <br>
                        Weakly Negative: ওরা খুব একটা ভাল কাজ করে নাই। ওরা খারাপ কাজ করেছে। <br>
                        Strongly Negative: ওরা মোটেও ভাল কাজ করে নাই। ওরা খুবই খারাপ কাজ করেছে। <br> <br>

                        ৬। <strong>Perspective</strong>: sentiment মূলত depend করবে speaker এর দৃষ্টিভঙ্গির উপর, কার সম্পর্কে কথা বলা হচ্ছে তার উপরে না। যেমনঃ ধুর ! গ্রামীনফোনের কল রেট এত বেশি। (SN)  এখানে কল রেট বেশী হওয়ায় স্পিকার খেপে আছে মনে হচ্ছে দেখে এটা negative.  বাংলালিংকের নেটওয়ার্ক খুবই বাজে। (SN)
                        <br> <br>
                        ৭। <strong>Sarcasm</strong>: সারকাসম / ব্যাঙ্গাত্বক sentence এর ক্ষেত্রে খুব বেশি গভীর অর্থ চিন্তা না করে আপাতত যে meaning বোঝা যাচ্ছে সেটার ভিত্তিতেই sentiment নিরধারিত হবে। ওহ , তুমি তো খুব ভাল মানুষ।
                        এখানে গভীর চিন্তা করলে এটাকে sarcastic / negative মনে হতে পারে। কিন্তু simply এটাকে আমরা positive sentence হিসেবেই চিহ্নিত করব।
                        <br> <br>
                    </p>
                
                    </mat-expansion-panel>
                
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                            <span class="instructions-header">Document Sentiment</span>
                            </mat-panel-title>  
                        </mat-expansion-panel-header>
                        <p class="text-left">

                            <strong>There are total 6 sentiment class:</strong> <br> <br>
                            1. <strong>Objective (No sentiment)</strong> <br>
                            2. <strong>Neutral/Mixed sentiment</strong> <br>
                            3. <strong>Strongly Positive sentiment</strong> <br>
                            4. <strong>Weakly Positive sentiment</strong> <br>
                            5. <strong>Strongly Negative sentiment</strong> <br>
                            6. <strong>Weakly Negative sentiment</strong> <br> <br>

                            ১ । <strong>Objective (No sentiment)</strong> : <br>
                            কোন বাক্যে যখন যেকোনো বিষয়ে বক্তব্য দেয়া হয় (facts , বর্ণনা , চিরন্তন সত্য ইত্যাদি) যেখানে speaker এর কোন অভিমত প্রকাশ পায় না, বরং কোন কিছু বর্ণনা করা হয় মাত্র, তখন সেটা এই category তে যাবে। যেমন : করোনা পরিস্থিতি মোকাবেলায় ন্যাশনাল গার্ড মোতায়েন করেছে নিউইয়র্কের গভর্নর। তিনি আইইডিসিআরে আয়োজিত নিয়মিত প্রেস ব্রিফিংয়ে এসব কথা বলেন। বাংলাদেশ দক্ষিণ এশিয়ার ক্ষুদ্র একটি দেশ।
                            <br>
                            <br>
                            ২ । <strong>Neutral/Mixed sentiment</strong> : <br>
                            i) কোন বাক্তি/ জিনিশের এমন কোন বৈশিষ্ট্য যদি বর্ণনা করা হয়,  যেটা Positive/ Negative কোনটাই না তাহলেও এই catagory তে যাবে। যেমন: কলমটা ছোট। বাড়িটা অনেক বড়।  লোকটাকে চেনা চেনা মনে হচ্ছে । ঢাকায় অনেক মসজিদ আছে। নিলয় ক্লাস টু তে পড়ে।  
                            <br>
                            ii) প্রশ্নবোধক বাক্যে যদি কোন কিছু জানতে চাওয়া হয়, কোন ধরনের Positive/ Negative emotion প্রকাশ না পায় সেগুলো এই catagory তে যাবে।   যেমন : আপনার নাম  কি?, কে কে বাড়ির কাজ কর নি হাত তোল । ভাই, স্কুলটা কোন দিকে? ২ প্যাকেট কিনলে কি ১টা ফ্রি দিবেন?
                            <br>
                            iii) কোনও suggestion / request যেখানে Positive/ Negative emotion প্রকাশ না পায় সেগুলো এই catagory তে যাবে। যেমন : বেপারটা একটু দেখবেন।  তুমি এটা ট্রাই করে দেখতে পার। একটা নতুন গান রিলিজ দেন না ভাই।
                            <br>
                            iv)কোনও বাক্যের ক্ষেত্রে বাক্যটি  conflicting বা পরস্পরবিরোধী sentiment আছে বলে মনে হলে সেটা এই catagory তে যাবে।  যেমন:  "কাজটা ভালই করেছ , তবে আরও একটু চেষ্টা করলে আরও ভাল হত " এটা এই catagory তে যাবে। তবে খুব clearly বোঝা গেলে যেমন : "ছেলেটার এমনিতে সবই ভাল , তবে চরিত্রে সমস্যা আছে। " এটা negative হবে।
                            <br>
                            <br>
                            ৩। <strong>Negative sentiment</strong> : <br>
                            i) রাগ, ঘৃণা, বিরক্তি ,  হিংসাত্মক ও ধ্বংসমূলক কথাবার্তা প্রকাশ পেলে এই catagory তে যাবে। যেমন : সরকার কি এসব চোখে দেখে না ? , ওদের বাড়িঘর পুড়িয়ে দেশ থেকে বের করে দেওয়া উচিত। (SN) আল্লাহ তুমি কাফিরদের ধ্বংস করে দাও, আমিন (SN)  আমি কি আপনার কাছে এটা জানতে চেয়েছি? (WN).  এত টান ভালবাসা আসে কোথা থেকে ? (WN)  সাহসী শব্দের অর্থ কি নগ্নতা!!? (SN) 
                            <br>
                            
                            ii) কোন বাক্তি/ জিনিশের এমন কোন বৈশিষ্ট্য যদি বর্ণনা করা হয় যেটা বক্তার পছন্দ না । যেমন : এত বাজে খেলা আমি জীবনেও দেখি নাই।(SN) বার্মিজদের চরিত্রই খারাপ।(SN)
                            <br>
                            <br>
                            ৪। <strong>Positive sentiment</strong> : <br>
                            i) প্রশংসা, আনন্দ, উদযাপন, সন্তোষ প্রকাশমূলক কথাবার্তা প্রকাশ পেলে এই catagory তে যাবে। যেমন : সাবাস বাংলাদেশ, এগিয়ে যাও তোমরা। তোমরা খুব  ভাল ফলাফল করেছ (SP)। আল্লাহ তুমি সবাইকে হেফাজত করো আমিন (SP)
                            <br>
                            ii) double negative বাক্য হলেও সেটা positive হতে পারে । যেমন : বাংলাদেশ কিন্তু খারাপ খেলে নাই (WP), আমি জীবনেও তার নিন্দা করব না (SP)।
                            <br>
                            ৫। <strong>Weakly vs Strongly</strong>: <br>
                            i) যখন সুস্পষ্টভাবে  speaker কারো প্রশংসা/নিন্দা করবে তখন সেটা Strongly Positive/Negative হবে। যেমন: বাংলালিংকের তো নেটওয়ার্কই থাকে না (Strongly Negative)।
                            <br>
                            
                            ii) <strong>example (All sentiments in one sentence )</strong>: <br>
                            Strongly Positive: ওরা বেশ ভাল কাজ করেছে। ওরা ভাল কাজ করেছে। <br>
                            Weakly Positive: ওরা মোটামুটি ভাল কাজ করেছে। <br>
                            Neutral: ওরা মোটামুটি কাজ করেছে। <br>
                            Weakly Negative: ওরা খুব একটা ভাল কাজ করে নাই। ওরা খারাপ কাজ করেছে। <br>
                            Strongly Negative: ওরা মোটেও ভাল কাজ করে নাই। ওরা খুবই খারাপ কাজ করেছে। <br> <br>

                            ৬। <strong>Perspective</strong>: sentiment মূলত depend করবে speaker এর দৃষ্টিভঙ্গির উপর, কার সম্পর্কে কথা বলা হচ্ছে তার উপরে না। যেমনঃ ধুর ! গ্রামীনফোনের কল রেট এত বেশি। (SN)  এখানে কল রেট বেশী হওয়ায় স্পিকার খেপে আছে মনে হচ্ছে দেখে এটা negative.  বাংলালিংকের নেটওয়ার্ক খুবই বাজে। (SN)
                            <br> <br>
                            ৭। <strong>Sarcasm</strong>: সারকাসম / ব্যাঙ্গাত্বক sentence এর ক্ষেত্রে খুব বেশি গভীর অর্থ চিন্তা না করে আপাতত যে meaning বোঝা যাচ্ছে সেটার ভিত্তিতেই sentiment নিরধারিত হবে। ওহ , তুমি তো খুব ভাল মানুষ।
                            এখানে গভীর চিন্তা করলে এটাকে sarcastic / negative মনে হতে পারে। কিন্তু simply এটাকে আমরা positive sentence হিসেবেই চিহ্নিত করব।
                            <br> <br>
                        </p>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span class="instructions-header">Sentence Emotion</span>
                            </mat-panel-title>  
                        </mat-expansion-panel-header>
                        <p class="text-left">
                            সেন্টেন্স বা বাক্যের ইমোশন বুঝতে হলে ঐ বাক্য পড়ে আপনার কি মনে হচ্ছে বা বাক্যে কি বলা হচ্ছে, সেটা বুঝতে হবে। 
                            <br> <br>
                            মোট ৬ ধরনের ইমশন আছে -
                            <br>
                            <br>
                            
                            ১) <strong>Happy (খুশি)</strong> <br>
                            ২) <strong>Fear (ভীতি)</strong> <br>
                            ৩) <strong>Anger/Disgust (রাগ/ক্ষোভ)</strong> <br>
                            ৪) <strong>Sadness (কষ্ট)</strong>  <br>
                            ৫) <strong>Surprise (বিস্ময়/অবাক)</strong> <br>
                            ৬) <strong>Neutral (কিছুই না)</strong> <br> <br>
                            
                            এবং একই বাক্যের মধ্যে একাধিক ইমোশন থাকতে পারে। তাই সেলেক্ট করার সময় ভালো ভাবে বাক্যটি পড়ে নিয়ে তারপরে ইমোশন ট্যাগ করুন।
                        </p>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span class="instructions-header">Paragraph Emotion</span>
                            </mat-panel-title>  
                        </mat-expansion-panel-header>
                        <p class="text-left">
                            প্যারাগ্রাফ বা অনুচ্ছেদ ইমোশন বুঝতে হলে ঐ প্যারাগ্রাফ পড়ে আপনার কি মনে হচ্ছে বা প্যারাগ্রাফে  কি বলা হচ্ছে, সেটা বুঝতে হবে। 
                            <br>
                            <br>
                            মোট ৬ ধরনের ইমশন আছে -
                            <br>
                            <br>
                            
                            ১) <strong>Happy (খুশি)</strong> <br>
                            ২) <strong>Fear (ভীতি)</strong> <br>
                            ৩) <strong>Anger/Disgust (রাগ/ক্ষোভ)</strong> <br>
                            ৪) <strong>Sadness (কষ্ট)</strong>  <br>
                            ৫) <strong>Surprise (বিস্ময়/অবাক)</strong> <br>
                            ৬) <strong>Neutral (কিছুই না)</strong> <br> <br>
                            
                            এবং একই প্যারাগ্রাফ এর মধ্যে একাধিক (অনেক গুলো) ইমোশন থাকাটাই অনেক স্বাভাবিক। তাই সেলেক্ট করার সময় ভালো ভাবে প্যারাগ্রাফটি পড়ে নিয়ে তারপরে ইমোশন ট্যাগ করুন।
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
        </mat-card-content>
    
    </mat-card>
      
</section>