#instructions .instructions-title{
    background-color: #673ab7;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 20px 0;
    margin-bottom: 0;
}

::ng-deep .mat-card-header-text {
    width: 100%;
    margin: 0 !important;
  }
.mat-card-header .mat-card-title {
    margin-bottom: 0;
    margin-top: 0;
}

#instructions .instructions-header{
    margin: 0 auto;
    font-weight: 500;
}

::ng-deep mat-card{
    padding-top: 0 !important;
}