.sentiment-annotation{
  margin: 20px 0;
  font-weight: bold;
}

.question{
  font-size: 1rem;
  padding:3% 5%;
  background: #F8F9F8;
  border-bottom: 1px solid #dee3e2;
  border-radius: 5px;
}

.sentiment-answers{
  padding: 2%;
  margin: 1% 0;
  box-shadow: 1px 1px 6px -1px;
}

.subject-header{
  background: rgba(0, 0, 0, 0.03);
  padding: 2%;
  color: black;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 5px -2px;
}

.subject{
  box-shadow: 1px 1px 5px -1px;
  padding: 2%;
}

.subject-select{
  font-size: .8rem;
  text-align: center;
}

.polarity-header{
  background: rgba(0, 0, 0, 0.03);
  padding: 2%;
  color: black;
  border-radius: 5px;
  text-align: center;
  box-shadow:  1px 1px 5px -2px;
}

.positive-answer{
  font-size: .8rem;
  text-align: center;
}

.negative-answer{
  font-size: .8rem;
  text-align: center;
}
.mixed-answer{
  font-size: .8rem;
  text-align: center;
}


::ng-deep mat-card {
  padding-top: 2px !important;
}

::ng-deep mat-card-content {
  border: 1px solid #dee3e2;
  border-top: none;
}

.subject-document{
  background-color: #F8F9F8;
  padding: 2%;
  border-bottom: 1px solid #dee3e2;
  border-radius: 5px;
}

.sentiment-topic{
  font-size: 1rem;
}

.sentiment-topic mat-form-field {
  width: 100%;
}

.sentiment-topic mat-form-field mat-label{
  font-weight: 300;
}

.action-btn{
  text-align: center;
}
.form-submit-btn{
  font-size: 12px;
}
.unknown-btn{
  font-size: 12px;
}

::ng-deep .mat-card-header {
  border-bottom: 1px solid #dee3e2;
}

::ng-deep .mat-card-header-text {
  width: 100%;
}

::ng-deep .mat-card-actions {
  padding: 1% 2% !important;
}

::ng-deep .mat-card-actions button {
  padding: 0px 35px;
}

::ng-deep .mat-radio-label{
  padding: 12px 15px;
  background-color: transparent;
  border: 1px solid #673ab7;
  border-radius: 5px;
}

::ng-deep .mat-radio-label:hover{
  background-color: #673ab7;
  color: white;
}

::ng-deep .mat-radio-checked label {
  background-color: #673ab7;
  color: white;
  font-weight: 500;
  padding: 10px 15px;
}


::ng-deep .mat-card-header{
  background-color: #673ab7;
  border-radius: 5px;
  color: white;
}

span.material-icons {
  vertical-align: bottom;
  color: #673ab7;
  color: white;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

.paragraph{
  background: #a9a9a97a;
  padding: 10px;
}
.content-title{
  padding: 10px;
}

.addBtn{
    font-size: 12px;
    padding: 2px 10px;
    background: darkgray;
    color: white;
    border: none;
}

.searchArea{
  padding: 10px;
}

#select{
  padding: 5px;
    position: absolute;
    right: 2%;
    top: 50%;
}

.topic-container{
  padding: 10px;
  background:#a9a9a97a;
}

.sub-polarity{
  width: 60%;
}

.para-doc-polarity{
  width: 100%;
}

.float-right {
  font-weight: bold;
  color: red;
}

.float-right:hover {
  cursor: pointer;
}