.emotion-annotation{
  margin: 20px 0;
  font-weight: bold;
}

::ng-deep .mat-card-header {
  border-bottom: 1px solid #dee3e2;
}

::ng-deep .mat-card-header-text {
  width: 100%;
}

::ng-deep .mat-card-header{
  background-color: #673ab7;
  border-radius: 5px;
  color: white;
}

::ng-deep mat-card {
  padding-top: 2px !important;
}

::ng-deep mat-card-content {
  border: 1px solid #dee3e2;
  border-top: none;
}

.emotion-answer-container{
  padding: 5% 0%;
}

.emotion-topic mat-form-field {
  width: 100%;
}

.emotion-topic mat-form-field mat-label{
  font-weight: 300;
}

.emotion-question{
  font-size: 1rem;
  padding:3% 5%;
  background: #F8F9F8;
  border-bottom: 1px solid #dee3e2;
}

.emotion-answer{
  background-color: #F8F9F8;
  padding: 2% ;
  border-radius: 5px;
}
.emotion-topic{
  font-size: 1rem;
  text-align: center;
}

::ng-deep .mat-card-actions {
  padding: 1% 3% !important;
}

::ng-deep .mat-card-actions button {
  padding: 0px 35px;
}

.emotion-submit-btn{
  font-size: 12px;
}
.emotion-unknown-btn{
  font-size: 12px;
}


::ng-deep mat-checkbox{
  margin-right: 15px;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

.paragraph{
  background: #a9a9a97a;
  padding: 10px;
}
.content-title{
  padding: 10px;
}

.addBtn{
    font-size: 12px;
    padding: 2px 10px;
    background: darkgray;
    color: white;
    border: none;
}

.searchArea{
  padding: 10px;
}

#select{
  padding: 5px;
    position: absolute;
    right: 2%;
    top: 50%;
}

.topic-container{
  padding: 10px;
  background:#a9a9a97a;
}


.float-right {
  font-weight: bold;
  color: red;
}

.float-right:hover {
  cursor: pointer;
}