<app-header *ngIf="isAuthenticate"></app-header>

<router-outlet *ngIf="!isAuthenticate"></router-outlet>

<mat-sidenav-container class="main-container" *ngIf="isAuthenticate">

    <mat-sidenav mode="side" opened class="sidebar" *ngIf="toggle">
        <left-sidebar></left-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>