<mat-card id="resetPassword" *ngIf="tokenValid">
    <h1>
        Change Password
    </h1>


    <mat-card-content>
        <div class="reset-container">
            <form [formGroup]="resetForm" (ngSubmit)="reset(resetForm.value)" class="form">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your new password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" type="password" formControlName="password" required>
                    <mat-error *ngIf="!resetForm.controls['password'].valid && resetForm.controls['password'].touched">
                        Password needs to be at least six characters
                    </mat-error>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <input matInput type="password" placeholder="Confirm password" formControlName="passwordConfirm">
                    <mat-error *ngIf="resetForm.controls['passwordConfirm'].hasError('notSame')">
                        Password do not match
                    </mat-error>
                </mat-form-field>

                <p *ngIf="success" class="success">
                    Password reset successfull. You may now login to the site.
                </p>

                <button class="submit mt-2" type="submit" mat-raised-button color="primary" [disabled]="!resetForm.valid || clicked">{{ clicked == false ? 'Send': 'Sent'}}</button>
            </form>

            <p class="text-center mt-3 ">
                <a routerLink="/">Sign In</a>
            </p>
        </div>
    </mat-card-content>
</mat-card>


<mat-card id="resetPassword" *ngIf="tokenInvalid">
    <h1>
        Sorry, your rest link is not valid !
    </h1>
</mat-card>