#userDetails mat-card-header {
    background-color: #673ab7;
    border-radius: 5px;
    color: #fff;
}
  
::ng-deep .mat-card-header-text {
    width: 100%;
}
  
.mat-card-title {
    width: 100%;
}

table {
    width: 100%;
}


ul li{
    list-style: none;
    text-transform: capitalize;
}

#userDetails mat-card-content{
    border: 1px solid #dee3e2;
    margin-top: 10px;
}
  
#userDetails mat-card{
    padding-top: 2px !important;
}

.title{
    margin: 20px 0;
    font-weight: bold;
}

.user-title{
    padding: 10px;
    box-shadow: 0 0 5px -2px;
}

.user-row{
    padding: 10px;
}

.search-row{
    padding: 10px;
    box-shadow: 0 0 5px -2px;
}