<section id="userDetails">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center title">
                    User Details
                </h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="container-fluid information-container">
                <h3 class="text-left mt-2 user-title">
                    <b>Basic Information</b>
                </h3>
                <div class="row user-row">
                    <div class="col-6">
                        <p class="text-left"><b>Name</b><span class="user-info">: {{details?.user.name}}</span></p>
                        <p class="text-left"><b>User Type</b><span class="user-info">: {{details?.user.type}}</span></p>
                        <p class="text-left"><b>Email</b><span class="user-info">: {{details?.user.email}}</span></p>
                        <p class="text-left"><b>Phone</b><span class="user-info">: {{details?.user.phone}}</span></p>
                        <p class="text-left"><b>Profession</b><span class="user-info">: {{details?.user.profession}}</span></p>
                        <p class="text-left"><b>Age</b><span class="user-info">: {{details?.user.age}}</span></p>
                        <p class="text-left"><b>Gender</b><span class="user-info">: {{details?.user.gender}}</span></p>
                    </div>
                    <div class="col-6">
                        <p class="text-right"><b>Annotated Data</b><span class="user-info">: {{details?.annotated_data}}</span></p>
                        <p class="text-right"><b>Assigned Data</b><span class="user-info">: {{details?.assigned_data}}</span></p>
                        <p class="text-right"><b>Total Skipped</b><span class="user-info">: {{details?.skipped_data}}</span></p>
                        <p class="text-right"><b>Total working groups</b><span class="user-info">: {{details?.total_group}}</span></p>
                        <p class="text-right"><b>Overall Accuracy</b><span class="user-info">: {{details?.accuracy}}%</span></p>
                    </div>
                </div>
            </div>

            <div class="container-fluid table-container">
                <div class="row mt-2 mb-2 search-row">
                    <div class="col-6">
                        <h3 class="text-left"><b>View {{details?.user.name}}'s Labelled Data</b></h3>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Text search...</mat-label>
                                      <input matInput (keyup)="applyFilter($event)" placeholder="Text search...">
                                    </mat-form-field>
                                  </form>
                            </div>
                            <div class="col-6">
                                <form>
                                    <mat-form-field>
                                      <mat-label>Select Data</mat-label>
                                      <mat-select [(ngModel)]="selectedValue" name="sentiment" (selectionChange)="changeDataType($event.value)">
                                        <mat-option *ngFor="let sentiment of sentiments" [value]="sentiment.value">
                                          {{sentiment.viewValue}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">          
                  <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
                      <!-- Serial Column -->
                      <ng-container matColumnDef="serial">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
                      </ng-container>
            
                      <!-- Name Column -->
                      <ng-container matColumnDef="text">
                        <th mat-header-cell *matHeaderCellDef> Text </th>
                        <td mat-cell *matCellDef="let element"> {{element.text}} </td>
                      </ng-container>
            
                      <!-- Email Column -->
                      <ng-container matColumnDef="label">
                        <th mat-header-cell *matHeaderCellDef> Label </th>
                        <td mat-cell *matCellDef="let element">
                          <ul>
                            <li *ngFor="let annotator of element.annotators">
                              <div *ngIf="annotator.user_id == userID">
                                {{annotator.answer.subjectivity == 'subjective' ? annotator.answer.polarity : annotator.answer.subjectivity}}
                                {{annotator.answer.skip == true ? "skip" : annotator.answer.sentiment_overall}}
          
                                <span *ngFor="let emotion of annotator.answer.emotions">
                                  {{emotion}}
                                </span>
                              </div>
                            </li>
                            
                          </ul>
                        </td>
                      </ng-container>
            
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </div>
                </div>
                
            </div>
        </mat-card-content>

    </mat-card>
</section>