<section id="dataDonload">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center data-download-header">
                    {{title}}
                </h2>
            </mat-card-title>
        </mat-card-header>

        <div class="text-center download-select-group">

            <form [formGroup]="formGroup" (ngSubmit)="onDownload(formGroup.value)" class="form">
                <mat-form-field>
                    <mat-label>Analysis Type</mat-label>
                    <mat-select formControlName="analysisType" (selectionChange)="changeType($event.value)">
                        <mat-option *ngFor="let type of analysisType" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="!formGroup.controls['analysisType'].valid && formGroup.controls['analysisType'].touched">
                        Analysis Type is required
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field>
                    <mat-label>Instance Type</mat-label>
                    <mat-select formControlName="instanceType">
                        <mat-option *ngFor="let type of instanceTypes" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="!formGroup.controls['instanceType'].valid && formGroup.controls['instanceType'].touched">
                        User Type is required
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field>
                    <mat-label>Similar Data Download Format</mat-label>
                    <mat-select formControlName="downloadFormat">
                        <mat-option [value]="'.csv'"> CSV </mat-option>
                        <mat-option [value]="'.xlsx'"> XLSX </mat-option>
                    </mat-select>
                </mat-form-field>

                <br>

                <button class="mt-3" type="submit" mat-raised-button color="primary" [disabled]="!formGroup.valid">Download</button>

            </form>

        </div>
    </mat-card>
</section>