::ng-deep .mat-card-header-text {
    width: 100%;
    margin: 0 !important;
}

#dataDonload .data-download-header {
    background-color: #673ab7;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 20px 0;
    margin-bottom: 0;
}

.success {
    text-align: center;
    font-weight: 700;
    color: green;
}

::ng-deep mat-card {
    padding-top: 0 !important;
}

.mat-card-header .mat-card-title {
    margin-bottom: 0;
    margin-top: 0;
}

#dataDonload mat-card-content {
    width: 100%;
}

#dataDonload mat-card-subtitle {
    width: 100%;
    text-align: center;
}

.download-select-group mat-form-field {
    width: 35%;
    padding: 10px;
    box-shadow: 0px 0px 5px -2px;
    margin-top: 20px;
}

#dataDonload .data-action-panel {
    padding: 3%;
    box-shadow: 0px 0px 5px -2px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#dataDonload mat-card-actions {
    padding: 5% 0 !important;
}

.table {
    width: 50%;
    display: inline-table;
    border: 1px solid #ccc;
}

.table th {
    background-color: #ccc;
}

.table td {
    border-right: 1px solid #ccc;
}

@media only screen and (min-device-width: 240px) and (max-device-width: 600px) {
    #dataDonload mat-form-field {
        width: 100%;
    }
    #dataDonload .data-action-panel {
        width: 100%;
        padding: 20px;
    }
    #dataDonload .data-action-panel input {
        padding: 10px;
        margin: 0 auto;
        width: 100%;
    }
    #dataDonload mat-card-actions {
        padding: 0 8px !important;
    }
}