<section id="groupDetails">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2 class="text-center title">
            Group History
          </h2>
        </mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
  
        <div class="container-fluid information-container">
          <h3 class="text-left mt-2 user-title">
            <b>Basic Information</b>
          </h3>
          <div class="row user-row">
            <div class="col-6">
              <p class="text-left"><b>Group Name</b><span class="user-info">: {{group?.name}}</span></p>
              <p class="text-left"><b>Description</b><span class="user-info">: {{group?.description}}</span></p>
              <p class="text-left"><b>Create Date</b><span class="user-info">: {{group?.created_at | date}}</span></p>
              <p class="text-left"><b>Status</b><span class="user-info">: Completed</span></p>
              <p class="text-left"><b>Number of Data:</b><span class="user-info">: {{number_of_data}}</span>
              </p>
              <p class="text-left"><b>Validation Completed:</b><span class="user-info">: {{validation_complete}}</span>
              </p>
            </div>
  
            <div class="col-6">
              <table class="table">
                <thead>
                  <tr>
                    <th>Data From</th>
                    <th>Data To</th>
                    <th>Kappa Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let kappa of kappa_socres">
                    <td>{{kappa.data_from}}</td>
                    <td>{{kappa.data_to}}</td>
                    <td>{{kappa.score}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
        <div class="container-fluid viewData-container">
          <div class="row view-row mb-2">
            <div class="col-2">
              <h3 class="text-left view-title"><b>View Data</b></h3>
            </div>
            <div class="col-4 searchForm">
              <mat-form-field class="example-full-width">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" maxlength="256" placeholder="Search by Data">
              </mat-form-field>
            </div>
            <div class="col-3">
              <p class="text-right">
                <mat-form-field>
                  <mat-label>Data Type</mat-label>
                  <mat-select (selectionChange)="getData()" [(ngModel)]="instanceType">
                    <mat-option *ngFor="let data of sentiments" [value]="data.value">
                      {{data.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
            </div>
            <div class="col-3">
              <p class="text-right">
                <mat-form-field>
                  <mat-label>Filter Data</mat-label>
                  <mat-select (selectionChange)="filterData($event.value)" [(ngModel)]="filterType">
                    <mat-option *ngFor="let filter of filter_types" [value]="filter.value">
                      {{filter.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
            </div>
          </div>
  
  
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
              <!-- Serial Column -->
              <ng-container matColumnDef="serial">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
              </ng-container>
  
              <!-- Data Column -->
              <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let element"> {{element.text}} </td>
              </ng-container>
  
              <!-- Annotator Column -->
              <ng-container *ngFor="let user of group?.users" matColumnDef="{{user.name}}">
                <th mat-header-cell *matHeaderCellDef> {{user.name}} </th>
                <td mat-cell *matCellDef="let element">
                  <ul>
                    <li *ngFor="let annotator of element.annotators">
                      <div *ngIf="annotator.user_id == user._id && 'answer' in annotator">
                        <div *ngIf="annotator.answer?.hasOwnProperty('subjectivity')">
                          {{annotator.answer.subjectivity == 'subjective' ? annotator.answer.polarity : annotator.answer.subjectivity}}
                        </div>
  
                        <div *ngIf="annotator.answer?.hasOwnProperty('skip')">
                          {{annotator.answer.skip == true ? "skip" : annotator.answer.sentiment_overall}}
                        </div>
  
                        <div *ngIf="annotator.answer?.hasOwnProperty('emotions')">
                          {{annotator.answer.emotions.toString()}}
                        </div>
  
                        <div *ngIf="annotator.answer?.hasOwnProperty('sentiment_overall')">
                          {{annotator.answer.sentiment_overall.toString()}}
                        </div>
                      </div>
                    </li>
  
                  </ul>
                </td>
              </ng-container>
  
              <!-- Linguistic Column -->
              <ng-container  matColumnDef="linguistic">
                <th mat-header-cell *matHeaderCellDef> Linguistic </th>
                <td mat-cell *matCellDef="let element">
                  <ul>
                    <li>
                      <div *ngIf="element.linguistics.length && 'linguistic_answer' in element">
                        <div *ngIf="element.linguistic_answer?.hasOwnProperty('subjectivity')">
                          {{element.linguistic_answer.subjectivity == 'subjective' ? element.linguistic_answer.polarity : element.linguistic_answer.subjectivity}}
                        </div>
  
                        <div *ngIf="element.linguistic_answer?.hasOwnProperty('skip')">
                          {{element.linguistic_answer.skip == true ? "skip" : element.linguistic_answer.sentiment_overall}}
                        </div>
  
                        <div *ngIf="element.linguistic_answer?.hasOwnProperty('emotions')">
                          {{element.linguistic_answer.emotions.toString()}}
                        </div>
  
                        <div *ngIf="element.linguistic_answer?.hasOwnProperty('sentiment_overall')">
                          {{element.linguistic_answer.sentiment_overall.toString()}}
                        </div>
                      </div>
                    </li>
  
                  </ul>
                </td>
              </ng-container>
  
              <!-- Final Label Column -->
              <ng-container  matColumnDef="final" *ngIf="dataType == 'final-data'">
                <th mat-header-cell *matHeaderCellDef> Final Label </th>
                <td mat-cell *matCellDef="let element">
                  <ul>
                    <li>
                      <div *ngIf="'answer' in element">
                        <div *ngIf="element.answer?.hasOwnProperty('subjectivity')">
                          {{element.answer.subjectivity == 'subjective' ? element.answer.polarity : element.answer.subjectivity}}
                        </div>
  
                        <div *ngIf="element.answer?.hasOwnProperty('skip')">
                          {{element.answer.skip == true ? "skip" : element.answer.sentiment_overall}}
                        </div>
  
                        <div *ngIf="element.answer?.hasOwnProperty('emotions')">
                          {{element.answer.emotions.toString()}}
                        </div>
  
                        <div *ngIf="element.answer?.hasOwnProperty('sentiment_overall')">
                          {{element.answer.sentiment_overall.toString()}}
                        </div>
                      </div>
                    </li>
  
                  </ul>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator  [pageSizeOptions]="[5,25,50,100,150,200,250,300,350,400,450,500]" showFirstLastButtons></mat-paginator>
          </div>
  
        </div>
      </mat-card-content>
  
    </mat-card>
  </section>