/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/*---Media queries for all devices---*/

@media only screen and (min-device-width : 240px) and (max-device-width : 600px) {

    #login{
        width: 100%;
    }
    
    #sentiment .sentiment-container .subject-select{
        margin: 0 !important;
    }

    #sentiment .sentiment-container mat-radio-button{
        margin: 0 !important;
    }

    #sentiment .sentiment-container .radio-btn{
        width: 100%;

    }
    
    /*----Rank and Accuracy section----*/

    #rankAndAccuracy mat-card-content{
        display:block !important;
    }

    #rankAndAccuracy mat-card-content .training-rank-container{
        margin-left: 0;
        margin-right: 0;
        box-shadow: 0px 0px 5px -2px;
        margin-bottom: 0 !important;
    }

    #rankAndAccuracy mat-card-content .training-rank-container .training-rank-header{
        box-shadow: 1px 1px 5px -2px;
    }

    #rankAndAccuracy mat-card-content .training-rank-container .sentiment-training h3{
        text-align: center !important;
    }

    #rankAndAccuracy mat-card-content .training-rank-container .sentiment-training .accuracy-data{
        margin: 0 !important;
        text-align: center;
    }

    #rankAndAccuracy mat-card-content .training-rank-container .emotion-training .accuracy-data{
        margin: 0 !important;
        text-align: center;
    }

    #rankAndAccuracy mat-card-content .training-rank-container .emotion-training h3{
        text-align: center !important;
    }

    #rankAndAccuracy mat-card-content .training-rank-container .training-sub-header{
        border: 1px solid #dee3e2;
        box-shadow: 1px 1px 5px -2px;
        padding: 5px;
        border-radius: 5px;
    }


    /*-----Profile section----*/

    #edit-user .registration-container{
        width: 100%;
    }

    #edit-user .registration-container .file-uploader{
        width: 80%;
        font-size: .8rem;
    }

    #create-user .registration-container{
        width: 100%;
    }

    #create-user .registration-container .file-uploader{
        width: 80%;
        font-size: .8rem;
    }

    /*----User group section---*/

    #createGroup .registration-container{
        width: 100%;
    }
}
    