<section id="dataUpload">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center data-upload-header">
                    {{title}}
                </h2>
            </mat-card-title>
        </mat-card-header>

        <div class="text-center upload-select-group">

            <form [formGroup]="formGroup" (ngSubmit)="onUpload(formGroup.value)" class="form">
                <mat-form-field>
                    <mat-label>Analysis Type</mat-label>
                    <mat-select formControlName="analysisType" (selectionChange)="changeType($event.value)">
                        <mat-option *ngFor="let type of analysisType" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="!formGroup.controls['analysisType'].valid && formGroup.controls['analysisType'].touched">
                        Analysis Type is required
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field>
                    <mat-label>Instance Type</mat-label>
                    <mat-select formControlName="instanceType">
                        <mat-option *ngFor="let type of instanceTypes" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="!formGroup.controls['instanceType'].valid && formGroup.controls['instanceType'].touched">
                        User Type is required
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field>
                    <mat-label>Similar Data Download Format</mat-label>
                    <mat-select formControlName="downloadFormat">
                        <mat-option [value]="'.csv'"> CSV </mat-option>
                        <mat-option [value]="'.xlsx'"> XLSX </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="container text-center mt-3">
                    <h1>Demo</h1>
                    <table class="table">
                        <tr>
                            <th>Unannotated Id</th>
                            <th>Text</th>
                            <th>Type</th>
                            <th>Domain</th>
                            <th>Root Url</th>
                            <th>Category</th>
                            <th>Published Date</th>
                            <th>Parse Time</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>পুরান ঢাকাই ... </td>
                            <td>sentence</td>
                            <td>newspaper</td>
                            <td>prothomalo.com</td>
                            <td>রাজনীতি</td>
                            <td>3/4/2019</td>
                            <td>4:4:44</td>
                        </tr>
                    </table>
                </div>

                <mat-card-actions>
                    <p class="text-center"> Upload Support Only CSV and XLSX File</p>
                    <p class="data-action-panel">
                        <input id="uploadFile" type="file" (change)="onFileChange($event)" accept=".csv, .xlsx, .XLSX">
                        <button type="submit" mat-raised-button color="primary" [disabled]="!formGroup.valid">Upload</button>
                    </p>
                    <p class="success mt-3">{{ success }}</p>
                </mat-card-actions>

            </form>

        </div>
    </mat-card>
</section>