<section id="sentiment">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 class="text-center sentiment-annotation">
          Sentence Level Sentiment Analysis
        </h2>
      </mat-card-title>
    </mat-card-header>

    <form *ngIf="sentence != null" [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)" class="form">

      <mat-card-content>

        <!------------new design----->

        <div class="container-fluid">
          <div class="row mt-3">
            <div class="col-2">
              <h4 class="text-left content-title"><b>Sentence</b></h4>
            </div>
            <div class="col-10">
              <p class="text-left paragraph">
                {{ sentence.text }}
              </p>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-2">
              <h4 class="text-left content-title"><b>Subjectivity</b></h4>
            </div>
            <div class="col-10">
              <mat-form-field class="form-element sub-polarity">
                <mat-label>Subjectivity</mat-label>
                <mat-select name="type" formControlName="subjectivity"
                  (selectionChange)="changeSubjectivity($event.value)">
                  <mat-option *ngFor="let type of subjectivities" [value]="type.value">
                    {{type.viewValue}}
                  </mat-option>
                </mat-select>

                <mat-error
                  *ngIf="!formGroup.controls['subjectivity'].valid && formGroup.controls['subjectivity'].touched">
                  Subjectivity is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row mt-3" *ngIf="formGroup.controls['subjectivity'].value != 'objective'">
            <div class="col-2">
              <h4 class="text-left content-title"><b>Polarity</b></h4>
            </div>
            <div class="col-10">
              <mat-form-field class="form-element sub-polarity">
                <mat-label>Polarity</mat-label>
                <mat-select name="type" formControlName="polarity">
                  <mat-option *ngFor="let type of polarities" [value]="type.value">
                    {{type.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </div>
        <!------------new design----->

      </mat-card-content>

      <mat-card-actions>
        <p class="action-btn">
          <button mat-raised-button color="primary" type="submit" class="mr-3 form-submit-btn"
            [disabled]="!formGroup.valid">
            Submit
          </button>
          <button mat-raised-button color="warn" type="submit" (click)="formGroup.get('skip').setValue(true)" class="unknown-btn">Skip
          </button>
        </p>
      </mat-card-actions>
    </form>

    <mat-card-content *ngIf="sentence == null">
      <div class="container-fluid">
        <div class="row mt-3">
          <div class="col-12">
            <h1 class="text-center">No sentence available right now.</h1>
          </div>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</section>