<div id="header">
    <mat-toolbar color="primary">


        <div class="toggle-menu">
            <button mat-button (click)="toggle()" class="mr-2">
                <span class="material-icons menu-icon">
                    dashboard
                </span>
            </button>

            <a routerLink="/">
                <button mat-button>
                    <span class="title-header">Dashboard</span>
                </button>
            </a>
        </div>



        <div class="top-nav">
            <mat-nav-list>
                <a mat-list-item [class.active]="active=='/profile'" (click)="active='/profile'" routerLink="/profile">
                    <button mat-button>
                        <span class="title-header">{{user?.name}}</span>
                    </button>
                    <span class="material-icons menu-icon">
                        account_circle
                    </span>
                </a>

            </mat-nav-list>

            <mat-nav-list>
                <a mat-list-item class="nav-link main-nav-links" (click)="logout()">
                    <span class="material-icons menu-icon">
                        power_settings_new
                    </span>
                </a>
            </mat-nav-list>
        </div>

    </mat-toolbar>
</div>