.mat-toolbar.mat-primary {
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

.top-nav{
    display: flex;
    position: absolute;
    right: 10px;
}

.menu-icon{
    color: white;
}

.menu-icon:hover{
    color: black;
}

#header .title-header{
    color: white;
}