<mat-accordion *ngIf="userType == 'annotator'">
    <mat-expansion-panel [expanded]="active == '/annotator/sentence-sentiment' ||
      active == '/annotator/paragraph-sentiment' ||
      active == '/annotator/document-sentiment'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>Sentiment</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="/annotator/sentence-sentiment"> Sentence </a>
            <a mat-list-item routerLinkActive="active" routerLink="/annotator/paragraph-sentiment"> Paragraph </a>
            <a mat-list-item routerLinkActive="active" routerLink="/annotator/document-sentiment"> Document </a>
        </mat-nav-list>

    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="
    active == '/annotator/sentence-emotion' ||
    active == '/annotator/paragraph-emotion'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>Emotion</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="/annotator/sentence-emotion"> Sentence </a>
            <a mat-list-item routerLinkActive="active" routerLink="/annotator/paragraph-emotion"> Paragraph </a>
        </mat-nav-list>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="active == '/annotator/history-modify' ||
      active == '/annotator/history-rejected' ||
      active == '/annotator/history-view-all'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>History</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
            <a mat-list-item class="nav-link" routerLinkActive="active" routerLink="/annotator/history-modify">Modify
                Annotation</a>
            <a mat-list-item class="nav-link" routerLinkActive="active"
                routerLink="/annotator/history-rejected">Rejected Data</a>
            <a mat-list-item class="nav-link" routerLinkActive="active" routerLink="/annotator/history-view-all">View
                All</a>
        </mat-nav-list>

    </mat-expansion-panel>

    <mat-nav-list>
        <a mat-list-item class="nav-link main-nav-links" routerLinkActive="active"
            routerLink="/annotator/instructions"><span class="nav-title"><b>Instructions</b></span></a>
    </mat-nav-list>

</mat-accordion>


<mat-accordion *ngIf="userType == 'linguistic'">
    <mat-expansion-panel [expanded]="active == '/linguist/sentence-sentiment' ||
      active == '/linguist/paragraph-sentiment' ||
      active == '/linguist/document-sentiment'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>Sentiment</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="/linguist/sentence-sentiment"> Sentence </a>
            <a mat-list-item routerLinkActive="active" routerLink="/linguist/paragraph-sentiment"> Paragraph </a>
            <a mat-list-item routerLinkActive="active" routerLink="/linguist/document-sentiment"> Document </a>
        </mat-nav-list>

    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="
    active == '/linguist/sentence-emotion' ||
    active == '/linguist/paragraph-emotion'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>Emotion</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="/linguist/sentence-emotion"> Sentence </a>
            <a mat-list-item routerLinkActive="active" routerLink="/linguist/paragraph-emotion"> Paragraph </a>
        </mat-nav-list>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="active == '/linguist/sentence-sentiment-review' ||
      active == '/linguist/paragraph-sentiment-review' ||
      active == '/linguist/document-sentiment-review'" (opened)="checkReview()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>Sentiment Review</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span><b>Sentence</b></span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item class="nav-link" *ngFor="let group of groups?.sentence_sentiment"
                        routerLinkActive="active" routerLink="/linguist/sentence-sentiment-review/{{group._id}}">
                        {{group.name}}
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span><b>Paragraph</b></span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item class="nav-link" *ngFor="let group of groups?.paragraph_sentiment"
                        routerLinkActive="active" routerLink="/linguist/paragraph-sentiment-review/{{group._id}}">
                        {{group.name}}
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span><b>Document</b></span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item class="nav-link" *ngFor="let group of groups?.document_sentiment"
                        routerLinkActive="active" routerLink="/linguist/document-sentiment-review/{{group._id}}">
                        {{group.name}}
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-nav-list>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="
    active == '/linguist/sentence-emotion-review' ||
    active == '/linguist/paragraph-emotion-review'" (opened)="checkReview()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>Emotion Review</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span><b>Sentence</b></span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item class="nav-link" *ngFor="let group of groups?.sentence_emotion"
                        routerLinkActive="active" routerLink="/linguist/sentence-emotion-review/{{group._id}}">
                        {{group.name}}
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span><b>Paragraph</b></span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item class="nav-link" *ngFor="let group of groups?.paragraph_emotion"
                        routerLinkActive="active" routerLink="/linguist/paragraph-emotion-review/{{group._id}}">
                        {{group.name}}
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="active == '/linguist/history-modify' ||
      active == '/linguist/history-view-all'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>History</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
            <a mat-list-item class="nav-link" routerLinkActive="active" routerLink="/linguist/history-modify">Modify
                Annotation</a>

            <mat-expansion-panel (opened)="checkHistory()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span><b>Groups</b></span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item class="nav-link" *ngFor="let group of history_groups" routerLinkActive="active"
                        routerLink="/linguist/group-history/{{group._id}}">
                        {{group.name}}
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-nav-list>

    </mat-expansion-panel>

    <mat-nav-list>
        <a mat-list-item class="nav-link main-nav-links" routerLinkActive="active"
            routerLink="/annotator/instructions"><span class="nav-title"><b>Instructions</b></span></a>
    </mat-nav-list>

</mat-accordion>



<mat-accordion *ngIf="userType == 'admin'">
    <mat-expansion-panel [expanded]="active=='/admin/users' || active=='/admin/users/add'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>Users</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="/admin/users"
                [queryParams]="{userType: 'all-users'}"> All Users </a>
            <a mat-list-item routerLinkActive="active" routerLink="/admin/users/add"> Add </a>
        </mat-nav-list>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="active=='/admin/groups' || active=='/admin/groups/add'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>Groups</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="/admin/groups"> All Groups </a>
            <a mat-list-item routerLinkActive="active" routerLink="/admin/groups/add"> Add </a>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="active=='/admin/class-distribution' || active=='/admin/domain-distribution'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>Dashboard</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="/admin/overall-statistics"> Overall Statistics </a>
            <a mat-list-item routerLinkActive="active" routerLink="/admin/class-distribution"> Class Distribution </a>
            <a mat-list-item routerLinkActive="active" routerLink="/admin/domain-distribution"> Domain Distribution </a>

        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel
        [expanded]="active=='/admin/data-upload' || active=='/admin/upload-history' || active=='/admin/download-data'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>Data</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="/admin/data-upload"> Upload Data </a>
            <a mat-list-item routerLinkActive="active" routerLink="/admin/upload-history"> Upload History </a>
            <a mat-list-item routerLinkActive="active" routerLink="/admin/download-data"> Download Data </a>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="checkHistory()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><b>Groups History</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
            <a mat-list-item class="nav-link" *ngFor="let group of history_groups" routerLinkActive="active"
                routerLink="/admin/group-history/" [queryParams]="{groupID: group._id}">
                {{group.name}}
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
</mat-accordion>