.child-nav {
  padding-left: 40px;
}

.nav-title{
  font-size: 15px;
  padding: 0 8px;
}


.hide {
  display: none;
}

.show {
  display: block;
}

::ng-deep .active {
  background: rgba(0,0,0,.04);
}



::ng-deep .mat-list-base .mat-list-item {
  font-size: 12px;
}

.mat-expansion-panel-spacing {
  margin: 0;
}



