<section id="create-user">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center title create-user-header">
                    Create User
                </h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="container registration-container" novalidate>
                <form [formGroup]="formGroup" (ngSubmit)="createUser(formGroup.value)" class="form">
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Name" formControlName="name">
                        <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                            Name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Email address" formControlName="email">
                        <mat-error *ngIf="(!formGroup.controls['email'].valid && formGroup.controls['email'].touched) || formGroup.controls['email'].hasError('alreadyInUse')">
                            {{ getErrorEmail() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput type="password" placeholder="Password" formControlName="password">
                        <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                            Password needs to be at least six characters
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput type="password" placeholder="Confirm password" formControlName="passwordConfirm">
                        <mat-error *ngIf="formGroup.controls['passwordConfirm'].hasError('notSame')">
                            Password do not match
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Phone" formControlName="phone">
                        <mat-error *ngIf="(!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched) || formGroup.controls['phone'].hasError('alreadyInUse')">
                            {{getErrorPhone()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input type="number" matInput placeholder="Age" formControlName="age">
                        <mat-error *ngIf="!formGroup.controls['age'].valid && formGroup.controls['age'].touched || formGroup.controls['age'].hasError('ageError')">
                            {{getErrorAge()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                {{gender.viewValue}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="!formGroup.controls['gender'].valid && formGroup.controls['gender'].touched">
                            Gender is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Profession" formControlName="profession">
                        <mat-error *ngIf="!formGroup.controls['profession'].valid && formGroup.controls['profession'].touched">
                            Profession is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>User Type</mat-label>
                        <mat-select formControlName="type">
                            <mat-option *ngFor="let type of types" [value]="type.value">
                                {{type.viewValue}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="!formGroup.controls['type'].valid && formGroup.controls['type'].touched">
                            User Type is required
                        </mat-error>
                    </mat-form-field>

                    <br>
                    <div class="form-element">
                        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">
              Create
            </button>
                    </div>

                </form>
            </div>


        </mat-card-content>

    </mat-card>
</section>