#create-user .mat-card-header {
  background-color: #673ab7;
  border-radius: 5px;
  color: white;
}

.create-user-header {
  margin: 20px 0;
  font-weight: bold;
}

::ng-deep .mat-card-header-text {
  width: 100%;
}

#create-user mat-card-content {
  border: 1px solid #dee3e2;
  border-top: none;
  width: 100%;
  padding: 1%;
}

#create-user mat-card {
  padding-top: 2px !important;
}

.registration-container {
  width: 50%;
  padding: 2% 3%;
  border: 1px solid #dee3e2;
  box-shadow: 1px 1px 5px -2px;
}

#create-user mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.form-inline {
  padding: 0 2%;
}

.file-uploader {
  padding: 0 3%;
}

#create-user .mat-card-actions {
  padding: 0 26% !important;
}

#create-user .mat-card-actions button {
  padding: 0 5%;
}


@media only screen and (min-device-width : 601px) and (max-device-width : 1024px) {
    #create-user .registration-container{
      width: 80%;
  }

  #create-user .registration-container .file-uploader{
      width: 60%;
      font-size: .8rem;
  }
}