<section id="all-users">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-center title">
                    Assign Data to Group
                </h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="container-fluid assign-container">

                <div class="row mt-3">
                    <div class="col-12 assign-group">
                        <b>Group Name:</b> {{group?.name}}<br> <br>
                        <b>Description:</b> <br> <br>
                        <b>Users:</b>
                        <ul class="list-group usersInGroup">
                            <li class="list-group-item" *ngFor="let user of group?.users; let i = index;">
                                {{(i+1) + '. ' + user.name}}
                            </li>
                        </ul>
                    </div>
                </div>


                <form [formGroup]="formGroup" (ngSubmit)="assign(formGroup.value)" class="form">
                    <mat-form-field>
                        <mat-label>Analysis Type</mat-label>
                        <mat-select formControlName="analysisType" (selectionChange)="changeType($event.value)">
                            <mat-option *ngFor="let type of analysisType" [value]="type.value">
                                {{type.viewValue}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="!formGroup.controls['analysisType'].valid && formGroup.controls['analysisType'].touched">
                            Analysis Type is required
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Instance Type</mat-label>
                        <mat-select formControlName="instanceType">
                            <mat-option *ngFor="let type of instanceTypes" [value]="type.value">
                                {{type.viewValue}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="!formGroup.controls['instanceType'].valid && formGroup.controls['instanceType'].touched">
                            User Type is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Linguist Group</mat-label>
                        <mat-select formControlName="linguistic_group_id" (selectionChange)="linguisticChange($event.value)">
                            <mat-option *ngFor="let group of groups" [value]="group._id">
                                {{group.name}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="!formGroup.controls['linguistic_group_id'].valid && formGroup.controls['linguistic_group_id'].touched">
                            Linguist Group is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input type="number" matInput placeholder="No of instance" formControlName="no_of_instance">
                        <mat-error *ngIf="!formGroup.controls['no_of_instance'].valid && formGroup.controls['no_of_instance'].touched">
                            {{getErrorNoOfInstance()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input type="number" matInput placeholder="Data Validation Percentage" formControlName="data_validation_percentage">
                        <mat-error *ngIf="!formGroup.controls['data_validation_percentage'].valid && formGroup.controls['data_validation_percentage'].touched">
                            {{getErrorNoOfInstance()}}
                        </mat-error>
                    </mat-form-field>

                    <p class="success mt-2" *ngIf="success">
                        {{success}}
                    </p>

                    <div class="form-element">
                        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid || isSubmit">
                            Assign
                        </button>
                    </div>

                </form>

            </div>
        </mat-card-content>

    </mat-card>
</section>
